<style id="dd-color-variables">
body {

  /* Neutral */
  --global-color-primary--dark: #646464;
    --global-color-primary--dark-rgb: 100, 100, 100;
  --global-color-primary--xx-dark: #252525;
    --global-color-primary--xx-dark-rgb: 37, 37, 37;

  /* Accent */
  --global-color-accent--xx-light: #b8b9d8;
  --global-color-accent--x-light: #9799c1;
  --global-color-accent--light: #7b7db0;
  --global-color-accent--normal: #6667ab; /* from design */
  --global-color-accent--dark: #4f508f;
  --global-color-accent--x-dark: #33316d;
  --global-color-accent--xx-dark: #1c164f;

  --global-color-secondary--xx-light: var(--global-color-accent--xx-light);
  --global-color-secondary--x-light: var(--global-color-accent--x-light);
  --global-color-secondary--light: var(--global-color-accent--light);
  --global-color-secondary--normal: var(--global-color-accent--normal);
  --global-color-secondary--dark: var(--global-color-accent--dark);
  --global-color-secondary--x-dark: var(--global-color-accent--x-dark);
  --global-color-secondary--xx-dark: var(--global-color-accent--xx-dark);

  --global-color-tertiary--xx-light: #e8fef8;
  --global-color-tertiary--x-light: #dafff4; /* from design */
  --global-color-tertiary--light: #00ce9e; /* from design */
  --global-color-tertiary--normal: #009b77; /* from design */
  --global-color-tertiary--dark: #006850; /* from design */
  --global-color-tertiary--x-dark: #003529; /* from design */
  --global-color-tertiary--xx-dark: #061a15;

  --global-color-accent--alt: #9394AD;
  --global-color-accent--weak: #4f508f40;

}
</style>
