<!-- Changes for TUP -->
<style id="css-objects-o-section">
/* To reduce space between section and breadcrumbs */
/* TODO: Add this into Core-Styles */
:root {
    --global-space--above-breadcrumbs: 45px; /* rounded from design 46px */
    --global-space--under-breadcrumbs: 40px; /* rounded from design 41px */
}
/* So any section touching breadcrumbs has reduced top space */
nav.s-breadcrumbs + :is(.o-section, .section):not([class*="o-section--style-"], [class*="section--"]),
nav.s-breadcrumbs + .container > :is(.o-section, .section):not([class*="o-section--style-"], [class*="section--"]):first-child {
    margin-top: var(--global-space--under-breadcrumbs);
}
nav.s-breadcrumbs + :is([class*="o-section--style-"], [class*="section--"]),
nav.s-breadcrumbs + .container > :is([class*="o-section--style-"], [class*="section--"]):first-child {
    padding-top: var(--global-space--under-breadcrumbs);
}

/* Remove double space */
/* TODO: Integrate this into Core-Styles using less verbose solution */
.section--light + .section--light,
.section--muted + .section--muted,
.section--dark + .section--dark,
.o-section--style-light + .o-section--style-light,
.o-section--style-muted + .o-section--style-muted,
.o-section--style-dark + .o-section--style-dark {
    padding-top: unset;
}
.section:not([class*="section-"]) + .section:not([class*="section-"]),
.o-section:not([class*="section--"]) + .o-section:not([class*="section--"]) {
    margin-top: unset;
}
</style>

<!-- Fixes for Core -->
<style>
/* FAQ: The difference from base styles is ` a` instead of ` > a` */
/* !!!: This does not seem to be in TACC/Core-Styles#87 - 2023-01-09 */
/* !!!: This created blue text in a.c-button on /use-tacc/training/ - 2023-01-09 */
/* https://tacc-team.slack.com/archives/DPMDKQERK/p1673303837775459 */
/*
[class*="o-section--style"] a:not(
    [class*="card--standard"] a,
    [class*="card--image"] a,
    [class*="card--plain"] a
) {
  color: var(--color--link);
}
*/
</style>
