<style id="css-objects-o-heading-steps">
/* To add numbers to steps */
.heading-steps,
[class*="heading-steps--"] {
  counter-reset: step;
}
.heading-steps :is(h1, h2, h3, h4, h5, h6),
[class*="heading-steps--"] :is(h1, h2, h3, h4, h5, h6) {
  counter-increment: step;
}
.heading-steps--root :is(h1, h2, h3, h4, h5, h6)::before,
.heading-steps__item :is(h1, h2, h3, h4, h5, h6)::before {
  content: counter(step) '. ';
  color: var(--global-color-accent--secondary);
  font-weight: var(--medium);
}
</style>
