<!-- To tweak styles of form in a card -->
<!-- https://dev.tup.tacc.utexas.edu/about/security-and-compliance/protected-data-service/ -->
<style id="css-forms">
    /* Add extra space to bottom of a form in a card */
    /* NOTE: We need this only cuz/if padding is removed from card bottom… */
    /* TODO: Review selector (does a form in ANY card need this?) */
    /* TODO: Review whether to support this edge case for `.c-form` also */
    /* TODO: After review of the selector, add to core-styles.cms.css */
    :is(.card, .c-card, [class*="card--"]) .forms {
        margin-bottom: 20px;
    }
</style>
