{% extends "apcd_cms/templates/standard.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'apcd_cms/css/table.css' %}">
<link rel="stylesheet" href="{% static 'apcd_cms/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'submissions/css/table.css' %}">
<link rel="stylesheet" href="{% static 'submissions/css/modal.css' %}">
<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}
  <div id="list-admin-submissions"></div>
</div>
{% endblock %}
