<style id="ctrn-css-homepage-manual">
/* To strech content vertically */
body {
  display: flex;
  flex-direction: column;
}
#cms-content {
  flex-grow: 1;
}
.cms-content-panel > [class*="container"] {
  height: 100%;
}

/* To split the layout */
#cms-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#cms-content-left {
  grid-column-start: 1;
  grid-row: 1;
}
#cms-content-right {
  grid-column-start: 2;
  grid-row: 1;
}

/* To fix section seemingly missing its background color */
/* TODO: Invetigate and fix bug */
:is(.o-section, [class*="section--"]) {
  box-shadow: none;
}

/* To allow columns to touch footer */
body > main {
  margin-bottom: 0;
}

/* To remove borders on muted section touching container */
.cms-content-panel > :is(.o-section, [class*="section--"]) {
  &:first-child {
    border-top: none;
  }
  &:last-child,
  [class*="cms-structure-mode-"] &:has(+ .cms-placeholder) {
    border-bottom: none;
  }
}

/* To prevent `.cms-placeholder` from changing grid layout */
.cms-placeholder {
    display: none;
}
</style>
