{% extends "standard.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'submissions/css/table.css' %}">
<link rel="stylesheet" href="{% static 'submissions/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'admin_regis_table/css/core-styles.c-form.css' %}">

<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}

  <h1>List Submissions</h1>
  <hr />
  <p style="margin-bottom: 30px">All completed submissions by a user</p>
  <hr />
  <table id="submissionTable" class="submission-table">
      <thead>
          <tr>
              {% for k in header %}
              <th>{{k}}</th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for r in rows %}
              <tr>
                  <td>{{r.submission_id}}</td>
                  <td>{{r.file_name}}</td>
                  <td>{{r.status}}</td>
                  <td>{{r.outcome}}</td>
                  <td>{{r.created}}</td>
                  <td>
                    {% include "view_submission_logs_modal.html" %}
                    <a href='' data-toggle="modal" data-target="#viewSubmissionLogsModal_{{r.submission_id}}" data-backdrop="static">View Logs</a>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
