{% extends "standard.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'submissions/css/table.css' %}">
<link rel="stylesheet" href="{% static 'submissions/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'admin_regis_table/css/core-styles.c-form.css' %}">

<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}

  <h2>Unauthorized</h2>
  <p>You are not currently authorized for uploads. Please contact the UT Health office or create a ticket.</p>
</div>

{% endblock %}
