/*Text Style*/
#justification-asterisk {
  padding-left: 0;
  margin-left: 0;
}

/*To stop buttons from appearing next to required suffix*/
input[id^="threshold-requested"]::-webkit-inner-spin-button,
input[id^="threshold-requested"]::-webkit-outer-spin-button
 {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance:textfield;
}

[id^="required_threshold"] {
  background-color: #e9ecef; 
  color: #6c757d; 
  border-color: #ced4da;
  cursor: not-allowed; 
}

/* Field Sizes */
[id^="threshold-requested"], [id^="expiration-date"], [id^="required_threshold"] {
  min-width: 15ch;
}
/* To make sure sup values are not cut off when set as a label*/
label[name^="date-row"] {
  margin-top: 1rem;
}
/* Field Layouts */

[id^="exception_block"] {

  /* Expectations:
        - automatically enough columns
        - maximum column count of 3 (i.e. minimum column width of 33%)
        - maximum column width of 75 char's (same as max-width of fields)
        - equal width columns
    */
  display: grid;
  column-gap: var(--global-space--grid-gap);
  grid-template-columns: repeat(auto-fill, var(--max-col-width));
  max-width: calc(var(--global-space--grid-gap) + var(--max-col-width) * 2);
}
