/* Organize via ITCSS */
/* SEE: https://tacc-main.atlassian.net/wiki/x/QQhv */





/* SETTINGS */

/* https://github.com/TACC/Core-Styles/blob/v0.13.0/src/lib/_imports/settings/color.css */
:root {
  /* Accent */
  --global-color-accent--xxx-light: #DAADFF;
  --global-color-accent--x-light: #A12EFF;
  --global-color-accent--light: #6E00C8;
  --global-color-accent--normal: #4F008F;
  --global-color-accent--dark: #2F0054;
  --global-color-accent--x-dark: #1E0037;

  --global-color-accent--alt: #DDC4F2;
  --global-color-accent--weak: #5B00A440;

  /* Link */
  --global-color-link-on-light--normal: var(--global-color-accent--normal);
  --global-color-link-on-dark--normal: var(--global-color-accent--xxx-light);
}

/* https://github.com/TACC/Core-Styles/blob/v0.13.0/src/lib/_imports/theme.default.css */
:root {
  --header-bkgd-color: #4F008F;
  --header-minor-border-color: #DAADFF;
  --header-search-brdr-color: #A12EFF;
  --header-search-bkgd-color: #5f00ad;
}





/* COMPONENTS */

/* https://github.com/TACC/Core-CMS/blob/main/taccsite_cms/static/site_cms/css/src/_imports/components/django.cms.blog.app.item.css */
.blog-list article .byline,
article.post-detail .byline {
  display: none;
}





/* TRUMPS */

/* SEE: TACC/Core-Styles/blob/main/source/_imports/trumps/s-header.css */
.s-header .navbar-brand {
  min-width: 76px;
}





/* UNORGANIZED */

/* SEE: TACC/Core-Styles/blob/main/source/_imports/branding_logos.css */
/* NOTE: This is ONLY allowed because branding was added to Footer via CMS */
#header-branding { display: none; }
