<div class='row no-gutters banner-row'>
  <div class='col banner-cell--major'>
    <a href='#'>
      <figure>
        <img
          src='https://dev.tup.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/e2/80/e280b7ed-bd66-4374-840b-45bc47b4f266/banner-texascale.jpg__1600x700_q85_subsampling-2.jpg'
        />
        <figcaption>
          <span class='tag'>System News</span>
          <h2 class='highlight'>Lonestar6 Gets GPU Server Boost</h2>
        </figcaption>
      </figure>
    </a>
  </div>
</div>
<div class='row no-gutters banner-row'>
  <div class='col banner-cell--minor'>
    <a href='#'>
      <figure>
        <img
          src='https://dev.tup.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/5a/ec/5aecd15d-09ae-4625-805c-de0828910b88/banner-simulations.jpg__750x500_q85_subsampling-2.jpg'
        />
        <figcaption>
          <span class='tag'>Press Release</span>
          <h2>TACC Rings in the HPCwire Awards longer title for testing purposes</h2>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class='col banner-cell--minor'>
    <a href='#'>
      <figure>
        <img
          href='https://dev.tup.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/59/14/5914627d-2b3d-4cbc-81d2-a0d57b719fe9/banner-quasar.jpg__576x576_q85_subsampling-2.jpg'
        />
        <figcaption>
          <span class='tag'>Featured News</span>
          <h2>2022 Magazine Hot Off the Press</h2>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class='col banner-cell--minor'>
    <a href='#'>
      <figure>
        <img
          href='https://dev.tup.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/c1/a8/c1a8ece9-8c93-4d75-902e-f4b5219823f1/banner-welcome.jpg__750x500_q85_subsampling-2.jpg'
        />
        <figcaption>
          <span class='tag'>Featured Story</span>
          <h2>Study Sheds New Insight into X-Shaped Galaxies</h2>
        </figcaption>
      </figure>
    </a>
  </div>
</div>