{% extends "standard.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'admin_regis_table/css/table.css' %}">
<link rel="stylesheet" href="{% static 'admin_regis_table/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'admin_regis_table/css/core-styles.c-form.css' %}">

<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}

  <h1>List Registrations</h1>
  <hr />
  <p style="margin-bottom: 30px">All completed registration requests to become a data submitter.</p>
  <hr />
  <div class="filter-container">
    <div class="filter-content">
      <span><b>Filter by Status: </b></span>
      <select id="statusFilter" class="status-filter" onchange="filterTableByStatus()">
        {% for option in filter_options %}
          <option class="dropdown-text" {% if option == selected_filter %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <table id="registrationTable" class="registration-table">
      <thead>
          <tr>
              {% for k in header %}
              <th>{{k}}</th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for r in page %}
              <tr>
                  <td>{{r.biz_name}}</td>
                  <td>{{r.type}}</td>
                  <td>{{r.location}}</td>
                  <td>{{r.reg_status}}</td>
                  <td>
                    {% include "view_registration_modal.html" %}
                    {% include "edit_registration_modal.html" %}
                    {% include "create_submitter_modal.html" %}
                    <select id='actionsDropdown_{{r.reg_id}}' class='status-filter' onchange="openAction('{{r.reg_id}}')">
                      <option value="">Select Action</option>
                      <option value="viewRegistration">View Record</option>
                      <option value="editRegistration">Edit Record</option>
                      <option value="createSubmitter">Create Submitter</option>
                    </select>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  {% include 'paginator.html' %}
</div>
<script>
  function filterTableByStatus() {
    var dropdown, filter, xhr;
    dropdown = document.getElementById("statusFilter");
    filter =  dropdown.value;
    xhr = new XMLHttpRequest();
    xhr.open('GET', `/administration/list-registration-requests/?filter=${filter}`);
    xhr.send();
    window.location.href = `/administration/list-registration-requests/?filter=${filter}`;
    window.location.load();
  }
  function openAction(reg_id) {
    var actionsDropdown, selectedOption, modal_id;
    actionsDropdown = document.getElementById(`actionsDropdown_${reg_id}`);
    /* grabs dropdown option number selected by user via selectedIndex, 
      then grabs actual value associated with that option via 
      options[index].value */
    selectedOption = actionsDropdown.options[actionsDropdown.selectedIndex].value;
    modal_id = `${selectedOption}Modal_${reg_id}`;
    $(`#${modal_id}`).modal({backdrop: "static"}); /* modal appears manually */
    actionsDropdown.selectedIndex = 0; /* resets dropdown to display 'Select Action' again */
  }
</script>

{% endblock %}
