/* Translate ECEP Branding to Core-Styles */
:root {
  /* Global */
  /* https://github.com/TACC/Core-Styles/blob/v2.53.1/src/lib/_imports/settings/color--cms.auto.css */
  --global-color-primary--x-light: oklch( from var(--ecep-accent-gray) 96.875% c h );
  --global-color-primary--light: oklch( from var(--ecep-accent-gray) 75% c h );
  --global-color-primary--normal: var(--ecep-accent-gray );
  --global-color-primary--dark: oklch( from var(--ecep-accent-gray) 40% c h );
  --global-color-primary--x-dark: oklch( from var(--ecep-accent-gray) 33.3% c h );
  --global-color-primary--xx-dark: oklch( from var(--ecep-accent-gray) 25% c h );

  --global-color-accent--xxx-light: oklch( from var(--ecep-purple) 93.5% c h );
  --global-color-accent--xx-light: oklch( from var(--ecep-purple) 89.4% c h );
  --global-color-accent--x-light: oklch( from var(--ecep-purple) 82.8% c h );
  --global-color-accent--light: oklch( from var(--ecep-purple) 54.5% c h );
  --global-color-accent--normal: var(--ecep-purple);
  --global-color-accent--dark: oklch( from var(--ecep-purple) 20% c h );
  --global-color-accent--x-dark: oklch( from var(--ecep-purple) 0% c h );

  --global-color-accent--alt: oklch( from var(--ecep-purple) 82.8% c h );
  --global-color-accent--weak: oklch( from var(--ecep-purple) 40% c h );

  --global-color-secondary--normal: var(--ecep-green);
  --global-color-tertiary--normal: var(--ecep-green);

  /* Header */
  /* https://github.com/TACC/Core-Styles/blob/v2.53.1/src/lib/_imports/core-styles.theme.default.css */
  --header-bkgd-color: var(--ecep-purple);
  --header-minor-border-color: var(--global-color-accent--xxx-light);
  --header-search-brdr-color: var(--global-color-accent--x-light);
  --header-search-bkgd-color: var(--global-color-accent--dark);
}
