/* For consistent list image box width given inconsistent thumbnail width */
/* FAQ: Yes, this duplicates existing style from Core-CMS.
        TACC/Core-CMS#587 removes the original style rule,
        so thumbnail width will control image box width. */
/* IMPORTANT: ECEP client does NOT promise to maintain consistent image width,
              so we put their variable-width images into forced-width box */
@media (min-width: 768px) {
  .blog-list article .blog-visual:not(:empty) {
    width: 255px;
  }
}

/* To center list images horizontally and vertically */
/* FAQ: Yes, this duplicates existing style from Core-CMS.
        TACC/Core-CMS#587 removes the original style rule,
        so inconsistent thumbnail size is noticable (and fixed). */
/* IMPORTANT: ECEP client does NOT promise to maintain consistent image size,
              so we center their variable-size images */
.blog-list article .blog-visual:not(:empty) {
  align-items: center;
  justify-items: center;
}
