/* TODO: Use `TACC_CORE_STYLES_VERSION = 2` to obviate this stylesheet */

/* To apply djangocms-bootstrap4/…_picture class styles from parent to image */
/* FAQ: TACC/Core-CMS moves (side effect) Picture classes to <figure> or <a> */
/* SEE: taccsite_cms/templates/djangocms_picture/default/picture.html */
:is(figure, a).img-fluid img {
  max-width: 100%;
  height: auto;
}
:is(figure, a).img-thumbnail img {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 1rem; /* NOTE: Bootstrap used 0.25rem */
  max-width: 100%;
  height: auto;
}
:is(figure, a).rounded {
  /* NOTE: Bootstrap used 0.25rem */
  border-radius: 1rem !important; /* overwrite Bootstrap (uses !important) */
}
/* To undo some djangocms-bootstrap4/…_picture class styles on parent */
/* FAQ: The duplicate styles on parent tags look odd or are unnecessary */
:is(figure, a).img-thumbnail {
  padding: unset;
  background-color: unset;
  border: unset;
  border-radius: unset;
}
:is(figure, a).rounded {
  border-radius: unset !important; /* overwrite Bootstrap (uses !important) */
}
