/* ECEP Branding */
:root {
  --ecep-purple: #4D008C;
  --ecep-green: #8FC01C;
  --ecep-blue: #0177A9;
  --ecep-red: #C5103D;
  --ecep-gray: #888C8D;

  --ecep-font-title: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
  --ecep-font-content: Arial, sans-serif;
}

.ecep-purple { color: var(--ecep-purple); }
.ecep-green { color: var(--ecep-green); }
.ecep-blue { color: var(--ecep-blue); }
.ecep-red { color: var(--ecep-red); }
.ecep-gray { color: var(--ecep-gray); }
