/* To apply IRREGULAR LINK styles */
/* TODO: Do this the right way:
    1. Update Core-Styles:
        - `:not(.blog-list article .read-more a)`
        - `text-decoration-thickness: from-font;`
    2. Add "s-irregular-links" class to a root element.
    3. Delete this stylesheet.
*/
:is(main, .c-footer) :where(
  a,
  .c-button--as-link
):not(
  /* TODO: Think how/whether to add to Core-Styles */
  /* to prevent line at top right of news feed images */
  .blog-list article .read-more a
) {
    text-decoration-line: underline;
}
:is(main, .c-footer) :where(
  a:hover,
  .c-button--as-link:hover
) {
    text-decoration-style: dashed;
    text-decoration-thickness: from-font; /* TODO: Add to Core-Styles */
}
:is(main, .c-footer) :where(
  a:active,
  .c-button--as-link:active
) {
    text-decoration-style: dotted;
    text-decoration-thickness: from-font; /* TODO: Add to Core-Styles */
}
