/* To auto-define lighter/darker colors (accent, secondary, tertiary) */
@supports (color: lab(from white l a b)) {
    :root {
        --tc-near-white-l: 0.95;
        --tc-near-black-l: 0.1;
    }
    /*! :--light-context-safe */
    :root, /* cuz websites default to "light" */
    :is(:where(:is(.c-recognition--style-dark,:is(.o-section--style-dark,.section--dark),.col-dark,.s-footer) :is(.c-recognition--style-light,:is(.o-section--style-muted,.section--muted),:is(.o-section--style-light,.section--light),:is(.c-card--standard,.card--standard),:is(.c-card--standard-1,.c-card--standard-2,.c-card--standard-3),:is(.c-card--plain,.card--plain,[class*=card--plain-])))) {
        --global-color-accent--xxx-light: oklab(from var(--tc-color-1) var(--tc-near-white-l) a b); /* DECPRECATED */
        --global-color-accent--xx-light: oklab(from var(--tc-color-1) calc(l + (var(--tc-near-white-l) - l) * 3/4) a b);
        --global-color-accent--x-light: oklab(from var(--tc-color-1) calc(l + (var(--tc-near-white-l) - l) * 2/4) a b);
        --global-color-accent--light: oklab(from var(--tc-color-1) calc(l + (var(--tc-near-white-l) - l) * 1/4) a b);
        --global-color-accent--normal: var(--tc-color-1);
        --global-color-accent--dark: oklab(from var(--tc-color-1) calc(l - (l - var(--tc-near-black-l)) * 1/4) a b);
        --global-color-accent--x-dark: oklab(from var(--tc-color-1) calc(l - (l - var(--tc-near-black-l)) * 2/4) a b);
        --global-color-accent--xx-dark: oklab(from var(--tc-color-1) calc(l - (l - var(--tc-near-black-l)) * 3/4) a b);
        --global-color-accent--xxx-dark: oklab(from var(--tc-color-1) var(--tc-near-black-l) a b);

        --global-color-secondary--xx-light: oklab(from var(--tc-color-2) var(--tc-near-white-l) a b);
        --global-color-secondary--x-light: oklab(from var(--tc-color-2) calc(l + (var(--tc-near-white-l) - l) * 2/3) a b);
        --global-color-secondary--light: oklab(from var(--tc-color-2) calc(l + (var(--tc-near-white-l) - l) * 1/3) a b);
        --global-color-secondary--normal: var(--tc-color-2);
        --global-color-secondary--dark: oklab(from var(--tc-color-2) calc(l - (l - var(--tc-near-black-l)) * 1/3) a b);
        --global-color-secondary--x-dark: oklab(from var(--tc-color-2) calc(l - (l - var(--tc-near-black-l)) * 2/3) a b);
        --global-color-secondary--xx-dark: oklab(from var(--tc-color-2) var(--tc-near-black-l) a b);

        --global-color-tertiary--xx-light: oklab(from var(--tc-color-3) var(--tc-near-white-l) a b);
        --global-color-tertiary--x-light: oklab(from var(--tc-color-3) calc(l + (var(--tc-near-white-l) - l) * 2/3) a b);
        --global-color-tertiary--light: oklab(from var(--tc-color-3) calc(l + (var(--tc-near-white-l) - l) * 1/3) a b);
        --global-color-tertiary--normal: var(--tc-color-3);
        --global-color-tertiary--dark: oklab(from var(--tc-color-3) calc(l - (l - var(--tc-near-black-l)) * 1/3) a b);
        --global-color-tertiary--x-dark: oklab(from var(--tc-color-3) calc(l - (l - var(--tc-near-black-l)) * 2/3) a b);
        --global-color-tertiary--xx-dark: oklab(from var(--tc-color-3) var(--tc-near-black-l) a b);

        /* DEPRECATED */
        /* to redefine aliases which would otherwise be locked with Core-Styles value */
        --global-color-accent--secondary: var(--global-color-secondary--normal);
        --global-color-accent--tertiary: var(--global-color-tertiary--normal);
    }
    /*! :--dark-context-safe */
    :is(:where(:is(.c-recognition--style-dark,:is(.o-section--style-dark,.section--dark),.col-dark,.s-footer):not(:is(.c-recognition--style-light,:is(.o-section--style-muted,.section--muted),:is(.o-section--style-light,.section--light),:is(.c-card--standard,.card--standard),:is(.c-card--standard-1,.c-card--standard-2,.c-card--standard-3),:is(.c-card--plain,.card--plain,[class*=card--plain-])) *))) {
        --global-color-accent--xxx-light: white; /* DECPRECATED */
        --global-color-accent--xx-light: oklab(from var(--tc-color-1) var(--tc-near-white-l) a b);
        --global-color-accent--x-light: oklab(from var(--tc-color-1) calc(l + (var(--tc-near-white-l) - l) * 3/4) a b);
        --global-color-accent--light: oklab(from var(--tc-color-1) calc(l + (var(--tc-near-white-l) - l) * 2/4) a b);
        --global-color-accent--normal: oklab(from var(--tc-color-1) calc(l + (var(--tc-near-white-l) - l) * 1/4) a b);
        --global-color-accent--dark: var(--tc-color-1);
        --global-color-accent--x-dark: oklab(from var(--tc-color-1) calc(l - (l - var(--tc-near-black-l)) * 1/4) a b);
        --global-color-accent--xx-dark: oklab(from var(--tc-color-1) calc(l - (l - var(--tc-near-black-l)) * 2/4) a b);
        --global-color-accent--xxx-dark: oklab(from var(--tc-color-1) calc(l - (l - var(--tc-near-black-l)) * 3/4) a b);

        --global-color-secondary--xx-light: white;
        --global-color-secondary--x-light: oklab(from var(--tc-color-2) var(--tc-near-white-l) a b);
        --global-color-secondary--light: oklab(from var(--tc-color-2) calc(l + (var(--tc-near-white-l) - l) * 2/3) a b);
        --global-color-secondary--normal: oklab(from var(--tc-color-2) calc(l + (var(--tc-near-white-l) - l) * 1/3) a b);
        --global-color-secondary--dark: var(--tc-color-2);
        --global-color-secondary--x-dark: oklab(from var(--tc-color-2) calc(l - (l - var(--tc-near-black-l)) * 1/3) a b);
        --global-color-secondary--xx-dark: oklab(from var(--tc-color-2) calc(l - (l - var(--tc-near-black-l)) * 2/3) a b);

        --global-color-tertiary--xx-light: white;
        --global-color-tertiary--x-light: oklab(from var(--tc-color-3) var(--tc-near-white-l) a b);
        --global-color-tertiary--light: oklab(from var(--tc-color-3) calc(l + (var(--tc-near-white-l) - l) * 2/3) a b);
        --global-color-tertiary--normal: oklab(from var(--tc-color-3) calc(l + (var(--tc-near-white-l) - l) * 1/3) a b);
        --global-color-tertiary--dark: var(--tc-color-3);
        --global-color-tertiary--x-dark: oklab(from var(--tc-color-3) calc(l - (l - var(--tc-near-black-l)) * 1/3) a b);
        --global-color-tertiary--xx-dark: oklab(from var(--tc-color-3) calc(l - (l - var(--tc-near-black-l)) * 2/3) a b);

        /* DEPRECATED */
        /* to redefine aliases which would otherwise be locked with Core-Styles value */
        --global-color-accent--secondary: var(--global-color-secondary--normal);
        --global-color-accent--tertiary: var(--global-color-tertiary--normal);
    }
}