/* To auto-define lighter/darker colors (accent, secondary, tertiary) */
@supports (color: lab(from white l a b)) {
    :root {
        --L-not-white: 0.95;
        --L-not-black: 0.1;

        --global-color-accent--xxx-light: oklab(from var(--global-color-accent--normal) 0.95 a b);
        --global-color-accent--xx-light: oklab(from var(--global-color-accent--normal) calc(l + (var(--L-not-white) - l) * 3/4) a b);
        --global-color-accent--x-light: oklab(from var(--global-color-accent--normal) calc(l + (var(--L-not-white) - l) * 2/4) a b);
        --global-color-accent--light: oklab(from var(--global-color-accent--normal) calc(l + (var(--L-not-white) - l) * 1/4) a b);
        --global-color-accent--dark: oklab(from var(--global-color-accent--normal) calc(l - (l - var(--L-not-black)) * 1/4) a b);
        --global-color-accent--x-dark: oklab(from var(--global-color-accent--normal) calc(l - (l - var(--L-not-black)) * 2/4) a b);
        --global-color-accent--xx-dark: oklab(from var(--global-color-accent--normal) calc(l - (l - var(--L-not-black)) * 3/4) a b);
        --global-color-accent--xxx-dark: oklab(from var(--global-color-accent--normal) var(--L-not-black) a b);

        --global-color-secondary--xx-light: oklab(from var(--global-color-secondary--normal) var(--L-not-white) a b);
        --global-color-secondary--x-light: oklab(from var(--global-color-secondary--normal) calc(l + (var(--L-not-white) - l) * 2/3) a b);
        --global-color-secondary--light: oklab(from var(--global-color-secondary--normal) calc(l + (var(--L-not-white) - l) * 1/3) a b);
        --global-color-secondary--dark: oklab(from var(--global-color-secondary--normal) calc(l - (l - var(--L-not-black)) * 1/3) a b);
        --global-color-secondary--x-dark: oklab(from var(--global-color-secondary--normal) calc(l - (l - var(--L-not-black)) * 2/3) a b);
        --global-color-secondary--xx-dark: oklab(from var(--global-color-secondary--normal) var(--L-not-black) a b);

        --global-color-tertiary--xx-light: oklab(from var(--global-color-tertiary--normal) var(--L-not-white) a b);
        --global-color-tertiary--x-light: oklab(from var(--global-color-tertiary--normal) calc(l + (var(--L-not-white) - l) * 2/3) a b);
        --global-color-tertiary--light: oklab(from var(--global-color-tertiary--normal) calc(l + (var(--L-not-white) - l) * 1/3) a b);
        --global-color-tertiary--dark: oklab(from var(--global-color-tertiary--normal) calc(l - (l - var(--L-not-black)) * 1/3) a b);
        --global-color-tertiary--x-dark: oklab(from var(--global-color-tertiary--normal) calc(l - (l - var(--L-not-black)) * 2/3) a b);
        --global-color-tertiary--xx-dark: oklab(from var(--global-color-tertiary--normal) var(--L-not-black) a b);
    }
}