/* https://github.com/TACC/Core-CMS/blob/v4.35.15/taccsite_cms/templates/snippets/news/hide-article-main-image.html */
/* https://github.com/TACC/Core-CMS-Custom/blob/ce94648e/ecep_assets/css/hide-article-main-image.css */
article.post-detail .blog-visual { display: none }
