.submission-table {
    --cell-padding: 5px;

    width: 100%;
    table-layout: fixed; /* allows table to shrink (reason unknown) */
}
.submission-table th, td {
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    padding: var(--cell-padding);
    border-collapse: collapse;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(0,0,0,1);
}
.submission-table tr:nth-child(even) {
    background-color: rgba(198, 198, 198, 0.1);
}
.submission-table td {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    word-wrap: break-word;
}
.submission-table tr:nth-child(even) td {
    border-right: rgba(198, 198, 198, 0.1);
    border-left: rgba(198, 198, 198, 0.1);
}
.submission-table tr:nth-child(even) td:first-child {
    border-left: 1px solid #fff;
}
.submission-table tr:nth-child(even) td:last-child {
    border-right: 1px solid #fff;
}


/* SEE: https://css-tricks.com/responsive-data-tables/ */
@media (max-width: 767px) {
    /* To remove border (that should probably be in Core anyway) */
    .submission-table {
        --row-padding: calc( var(--cell-padding) * 2 );

        border: none; /* overwrite Core CMS site.css */
    }

    /* To escape table layout */
    .submission-table,
    .submission-table :is(thead, tbody, th, td, tr) { 
        display: block; 
    }

    /* To hide table headers (but not `display: none;`, for a11y) */
    .submission-table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* To restore row borders */
    .submission-table tr:not(:last-of-type) {
        border-bottom: var(--global-border-width--normal) solid var(--global-color-primary--light);
    }

    /* To make each cell behave like a "row" */
    .submission-table td { border-top: none; }
    .submission-table td:last-of-type { border-bottom: none; }
    .submission-table td {
        position: relative;
        padding-left: 50%;
    }

    /* To add space between rows (for legibility) */
    .submission-table tr {
        padding-bottom: var(--row-padding);
    }
    .submission-table tr:not(:first-of-type) {
        padding-top: var(--row-padding);
    }

    /* To make cells look like left-aligned labels */
    .submission-table td:before {
        position: absolute;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;

        /* To mimic cell padding */
        top: var(--cell-padding);
        left: var(--cell-padding);
    }
    /* To label the cells */
    /* RFE: Add `data-label` to each cell so we can use `attr(data-label)` */
    .submission-table td:nth-of-type(1):before { content: "Submission ID"; }
    .submission-table td:nth-of-type(2):before { content: "File Name"; }
    .submission-table td:nth-of-type(3):before { content: "Status"; }
    .submission-table td:nth-of-type(4):before { content: "Outcome"; }
    .submission-table td:nth-of-type(5):before { content: "Created"; }
    .submission-table td:nth-of-type(7):before { content: "Actions"; }
}
