.isInvalid {
  width: 100%; /* To match error message styles from*/
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.dateInputField {
  padding-right: 2ch; /* Adjust space for icons or padding */
  min-width: 10ch; /* Minimum width for empty input */
}

.dateInputContainer {
  display: inline-block;
}
