.requiredText {
  color: red;
}

.dateInputField {
  padding-right: 2ch; /* Adjust space for icons or padding */
  min-width: 10ch; /* Minimum width for empty input */
}

.dateInputContainer {
  display: inline-block;
}

.loadingField {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}
