/* To control grid item minimum width */
.o-grid {
    --width: 450px;
    grid-auto-rows: unset; /* overwrite site.css .o-grid */
}

/* To remove solution (to problem this page doesn't have) and its side effect */
/* TODO: Remove this after deploy of TACC/Core-Styles v2 (commit bd1b007) */
.o-grid > * {
    overflow: unset;
}

/* To center contact button at bottom of card, regardless of image height */
center:has(.c-button) {
    clear: both;
}
