/* To center text */
#pages-members-image-text {
    display: grid;
    align-items: center;
    justify-items: center;

    text-align: center;
}
/* To position text atop image after it */
#pages-members-image-text {
    position: relative;
    margin-bottom: -80px;
}
/* To style and layout text */
#pages-members-image-text * {
    color: var(--global-color-link-on-light--normal);
}
#pages-members-image-text h3 {
    margin-bottom: 0;
}
