/* DATASET LIST */

/* Root */

ul.dataset-list {
    padding-left: unset;
    list-style: none;
}
.dataset-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: var(--global-space--bootstrap-gap);
}

/* To indent all expanded content */
.dataset-list {
    --indent: 20px;
}
.dataset-list__item details {
    margin-left: var(--indent);
}
.dataset-list__item summary {
    margin-left: calc( -1 * var(--indent) );
}
.dataset-list__item summary.u-summary-link::before {
    width: var(--indent);
}


/* Elements */

.dataset-list__item *:last-child {
    margin-bottom: unset;
}

/* to put description list key and value on same line */
.dataset-list__item dt { float: left; }
.dataset-list__item dt::after { content: ':\00a0'; }
.dataset-list__item dd { clear: right; }


/* Components */

/* to reduce excess width of table key */
.dataset-list th.c-data-list__key {
    width: 22ch;
}
