/* DATASET LIST */

/* Root */

ul.dataset-list,
.dataset-list ul {
    list-style: none;
}
ul.dataset-list {
    padding-left: unset;
}
.dataset-list ul {
    padding-left: var(--indent);
}

/* To indent all expanded content */
.dataset-list {
    --indent: 1.5rem;
}
.dataset-list__item details {
    margin-left: var(--indent);
}
.dataset-list__item summary {
    margin-left: calc( -1 * var(--indent) );
}
.dataset-list__item summary.u-summary-link-merged::before,
.dataset-list__item summary.u-summary-fake-marker::before {
    width: var(--indent);
    display: inline-block;
}


/* Elements */

.dataset-list__item ul {
    margin-top: 1rem; /* to mimic core-styles details margin-bottom */
}


/* Components */

/* to reduce excess width of table key */
.dataset-list th.c-data-list__key {
    width: 22ch;
}
