{% load static %}

{% include './snippets/from-ecep-cms/site-css-links.html' %}
{% include './snippets/from-tup-cms/css-elements-monospace.html' %}
{% include './snippets/from-tup-cms/css-elements-address.html' %}
{% include './snippets/from-tup-cms/css-elements-body.html' %}
{% include './snippets/from-tup-cms/css-elements-components-figure-blockquote-caption-embed.html' %}
{% include './snippets/from-tup-cms/css-elements-form.html' %}
{% include './snippets/from-tup-cms/css-elements-headings.html' %}
{% include './snippets/from-tup-cms/css-elements-hr.html' %}
{% include './snippets/from-tup-cms/css-elements-main.html' %}
{% include './snippets/from-tup-cms/css-elements-strong-b.html' %}
{% include './snippets/from-tup-cms/css-elements-time.html' %}

{% include './snippets/from-tup-cms/css-objects-o-heading-steps.html' %}
{% include './snippets/from-tup-cms/css-objects-o-section.html' %}
{% include './snippets/from-tup-cms/css-objects-people-grid.html' %}

{% include './snippets/from-tup-cms/css-components-button.html' %}
{% include './snippets/from-tup-cms/css-components-card.html' %}
{% include './snippets/from-tup-cms/css-components-content-block.html' %}
{% include './snippets/from-tup-cms/css-components-data-list.html' %}
{% include './snippets/from-tup-cms/css-components-feed-list.html' %}
{% include './snippets/from-tup-cms/css-components-layered-image.html' %}
{% include './snippets/from-tup-cms/css-components-section-decal.html' %}
{% include './snippets/from-tup-cms/css-footer.html' %}
{% include './snippets/from-tup-cms/css-forms.html' %}
{% include './snippets/from-tup-cms/css-mailto-link-tweaks.html' %}
{% include './snippets/from-tup-cms/css-news.html' %}

{% include './snippets/from-tup-cms/css-trumps-s-drop-caps-scope.html' %}
{% include './snippets/from-tup-cms/css-trumps-abbr-list.html' %}
{% include './snippets/from-tup-cms/css-trumps-bootstrap-grid-rows-columns-cms.html' %}
{% include './snippets/from-tup-cms/css-trumps-breadcrumbs.html' %}
{% include './snippets/from-tup-cms/css-trumps-header.html' %}
