/* TODO: Integrate into Core-CMS */
/* to make focus visible on blog links: */
/*     category */
:is(.app-blog .categories) a:focus,
/*     read more (shown as box around image) */
.blog-list article .read-more a,
.blog-list article .read-more:is(a) {
    outline-offset: 5px;
}

/* TODO: Integrate into Core-CMS */
/* to make line-height of news feed match body */
:is(.blog-latest-entries,.blog-featured-posts) .blog-lead {
    line-height: unset;
}

/* TODO: Delete this after deploy of Core-CMS v4.40.0 */
.blog-visual {
    &:has(.cms-placeholder:first-child:empty) {
        display: none;
    }
}

/* TODO: Delete this after deploy of Core-CMS v4.40.0 */
@import url("https://cdn.jsdelivr.net/gh/TACC/Core-Styles@v2.57.0-rc1/dist/bootstrap4/content/typography-headings/typography-headings--cms.css");

/* TODO: Delete this after deploy of Core-CMS v4.41.0 */
/* to let user know when they hover over file inputs */
input[type="file"] {
    cursor: pointer;

    &:hover {
        background-color: var(--global-color-accent--x-light);
    }
}
