/* TODO: Consider adding to Core-Styles */
/* to let `width` be adequate to resize icon */
.icon-fill {
    container-type: size; /* to let `::before` use `cqw` unit */
    aspect-ratio: 1;
    height: 100%;
}
.icon-fill::before {
    font-size: 100cqw;
}
