/* To hide news lead/abstract that only contains an external link */
/* (e.g. list of external links with no abstract content besides URL) */
.blog-lead:has(> a:only-child),
.blog-lead:has(> p:only-child > a:only-child) {
  font-size: 0;

  /* To restore lead/abstract, with custom text, during Edit mode */
  /* (so editor can hover over to "Double click to edit") */
  &:is([class*="cms-structure-mode-"] *) {
    font-size: var(--global-font-size--medium);
  
    & > * {
      opacity: 0.75;

      &::before {
        content: 'Edit blog article';
        margin-right: 1em;
    }
  }
}
