
dt {
    flex-basis: 25%;
}

dd {
    flex-basis: 75%;
}

/* Necessary so dl keys display fully */
.modal-body {
    height: 60vh;
    overflow-y: auto !important;
    padding: 2rem;
    font-size: var(--global-font-size--small);
    font-family: var(--global-font-family--sans--portal);
}
