/* To change colors to match logo */
:root {
  --global-color-accent--x-light: hsl(229 45% 77%);
  --global-color-accent--light: hsl(229 45% 60%);
  --global-color-accent--normal: hsl(229 45% 44%); /* directly from logo */
  --global-color-accent--dark: hsl(229 45% 35%);
  --global-color-accent--x-dark: hsl(229 45% 30%);

  /* DEPRECATED */
  --global-color-accent--alt: hsl(229 22% 77%);
  --global-color-accent--weak: hsl(229, 45%, 52%, 0.25);
  --global-color-link-on-light--normal: var(--global-color-accent--normal);
  --global-color-link-on-dark--normal: var(--global-color-accent--x-light);
}
