{# This template overwrites the original from TACC/Core-CMS #}
{# NOTE: This should extend taccsite_cms via taccsite_custom, not overwrite #}
{# FAQ: To extend, via app template inheritance, see TACC/Core-CMS#492 #}



{# COPIED FROM CORE #}
{# https://github.com/TACC/Core-CMS/blob/c8844e1/taccsite_cms/templates/assets_custom.html #}

{% load static %}

<!-- Custom Site Assets: Favicon. -->
{% with settings.FAVICON as favicon %}
<link rel="icon" href="{% static favicon.img_file_src %}" type="image/x-icon" />
{% endwith %}



{# NEW CODE #}

<!-- To style old CMS content on new CMS -->
<link rel="stylesheet" href="{% static 'tapisproject_cms/css/migrate.to-v3.css' %}">
