dt {
    flex-basis: 25%;    
}


dd {
    flex-basis: 75%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-title {
    margin-top: unset;
    text-overflow: var(--text-overflow, ellipsis);
    overflow: hidden;
    white-space: nowrap;
    color: var(--global-color-primary--xx-dark);
    font-weight: 400;
}
