.extension-table {
    /* keeps action dropdown cell from bleeding out of table */
    table-layout:auto; 
}

/* SEE: https://css-tricks.com/responsive-data-tables/ */
@media (max-width: 767px) {
    /* To remove border (that should probably be in Core anyway) */
    .extension-table {
        --row-padding: calc( var(--cell-padding) * 2 );
        border: none; /* overwrite Core CMS site.css */
    }
    /* To label the cells */
    /* RFE: Add `data-label` to each cell so we can use `attr(data-label)` */
    .extension-table td:nth-of-type(1):before { content: "Created"; }
    .extension-table td:nth-of-type(2):before { content: "Organization"; }
    .extension-table td:nth-of-type(3):before { content: "Requestor Name"; }
    .extension-table td:nth-of-type(4):before { content: "Extension Type"; }
    .extension-table td:nth-of-type(5):before { content: "Outcome"; }
    .extension-table td:nth-of-type(6):before { content: "Status"; }
    .extension-table td:nth-of-type(7):before { content: "Approved Expiration"; }
    .extension-table td:nth-of-type(8):before { content: "Actions"; }
}
