{% extends "standard.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'apcd-cms/css/table.css' %}">
<link rel="stylesheet" href="{% static 'admin_exception/css/table.css' %}">
<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}

  <h1>View Exception Requests</h1>
  <hr />
  <p style="margin-bottom: 30px">All submitted exception requests</p>
  <hr/>
  <div class="filter-container">
    <div class="filter-content">
      <span><b>Filter by Status: </b></span>
      <select id="statusFilter" class="status-filter" onchange="filterTableByStatus()">
        {% for option in status_options %}
          <option class="dropdown-text" {% if option == selected_status %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>
      <span><b>Filter by Organization: </b></span>
      <select id="organizationFilter" class="status-filter org-filter" onchange="sortByOrg()">
        <!-- Value set here so dropdown is not blank but set to All-->
        <option class="dropdown-text" value={{selected_org.all}} {% if not selected_org %}selected{% else %} hidden {% endif %} disabled></option>
        {% for option in org_options %}
          <option class="dropdown-text" {% if option == selected_org %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>
      {% if selected_status or selected_org %}
          <button onclick="clearSelections()">Clear Options</button>
      {% endif %}
    </div>
  </div>
  <table id="exception-table" class="exception-table">
      <thead>
          <tr>
              {% for k in header %}
              <th>{{k}}</th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for r in page %}
              <tr>
                <!-- So when page is shrunk, rows match with the former columns -->
                <td class="created">{{r.created_at}}</td>
                <td class="org_name">{{r.org_name}}</td>
                <td class="requestor_name">{{r.requestor_name}}</td>
                <td class="exception_type">{{r.request_type}}</td>
                <td class="outcome">{{r.outcome}}</td>
                <td class="status">{{r.status}}</td>
                  <td class="modal-cell">
                    {% include "view_admin_exception_modal.html" %}
                    {% include "edit_exception_modal.html" %}                   
                    <select id='actionsDropdown_{{r.exception_id}}' onchange="openAction('{{r.exception_id}}')">
                      <div class="filter-container">
                        <div class="filter-content">
                          <option value="">Select Action</option>
                          <option value="viewAdminExceptions">View Record</option>
                          <option value="editException">Edit Record</option>
                        </div>
                      </div>
                    </select>
                </td>
            </tr>
          {% endfor %}
      </tbody>
  </table>
  {% include 'paginator.html' %}
</div>
<script>
  
    function filterTableByStatus() {
      var dropdown, statusFilter, xhr, url_params, url;
      dropdown = document.getElementById("statusFilter");
      statusFilter =  dropdown.value;
      url_params = `?status=${statusFilter}`;
      {% if selected_org %}
              url_params = `?status=${statusFilter}&org={{selected_org}}`;
          {% endif %}
      url = `/administration/list-exceptions/${url_params}`;
      xhr = new XMLHttpRequest();
      xhr.open('GET', url);
      xhr.send();
      window.location.href = url;
      window.location.load();
    }

      function sortByOrg() {
          var orgDropdown, orgValue, url_params, url, xhr;
          orgDropdown = document.getElementById('organizationFilter');
          orgValue =  orgDropdown.value;
          url_params = `?org=${orgValue}`;
          {% if selected_status %}
              url_params = `?status={{selected_status}}&org=${orgValue}`;
          {% endif %}
          url = `/administration/list-exceptions/${url_params}`;
          xhr = new XMLHttpRequest();
          xhr.open('GET', url);
          xhr.send();
          window.location.href = url;
          window.location.load();
      }
      function clearSelections() {
          var xhr;
          xhr = new XMLHttpRequest();
          xhr.open('GET', '/administration/list-exceptions/')
          xhr.send()
          window.location.href = '/administration/list-exceptions/';
          window.location.load();
      }
      function openAction(exception_id) {
      var actionsDropdown, selectedOption, modal_id;
      actionsDropdown = document.getElementById(`actionsDropdown_${exception_id}`);
      /* grabs dropdown option number selected by user via selectedIndex, 
        then grabs actual value associated with that option via 
        options[index].value */
      selectedOption = actionsDropdown.options[actionsDropdown.selectedIndex].value;
      modal_id = `${selectedOption}Modal_${exception_id}`;
      $(`#${modal_id}`).modal({backdrop: "static"}); /* modal appears manually */
    
      actionsDropdown.selectedIndex = 0; /* resets dropdown to display 'Select Action' again */
    }
  </script>
{% endblock %}
