<div id="viewAdminExceptionsModal_{{r.exception_id}}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Exception Details</h4>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&#xe912;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <dl>
              <h4>Details</h4>
                <div class="modal-section">
                    <dl class="c-data-list--is-vert c-data-list--is-wide">
                      <dt class="c-data-list__key">Created</dt>
                      <dd class="c-data-list__value">{{r.created_at}}</dd>
                      <dt class="c-data-list__key">Organization</dt>
                      <dd class="c-data-list__value">{{r.org_name}}</dd>
                      <dt class="c-data-list__key">Requestor</dt>
                      <dd class="c-data-list__value">{{r.requestor_name}}</dd>
                      <dt class="c-data-list__key">Requestor Email</dt>
                      <dd class="c-data-list__value">{{r.requestor_email}}</dd>
                      <dt class="c-data-list__key">Exception Type</dt>
                      <dd class="c-data-list__value">{{r.exception_type}}</dd>  
                      <dt class="c-data-list__key">Status</dt>
                      <dd class="c-data-list__value">{{r.status}}</dd>
                      <dt class="c-data-list__key">Outcome</dt>
                      <dd class="c-data-list__value">{{r.outcome}}</dd>                   
                      <dt class="c-data-list__key">File Type</dt>                
                      <dd class="c-data-list__value">{{r.data_file_name}}</dd>
                      <dt class="c-data-list__key">Field Number</dt>                
                      <dd class="c-data-list__value">{{r.field_number}}</dd>
                      <dt class="c-data-list__key">Required Threshold</dt>                
                      <dd class="c-data-list__value">{{r.required_threshold}}</dd>
                      <dt class="c-data-list__key">Requested Threshold</dt>                
                      <dd class="c-data-list__value">{{r.requested_threshold}}</dd>
                      <dt class="c-data-list__key">Approved Threshold</dt>                
                      <dd class="c-data-list__value">{{r.approved_threshold}}</dd>
                      <dt class="c-data-list__key">Requested Expiration Date</dt>                
                      <dd class="c-data-list__value">{{r.requested_expiration_date}}</dd>
                      <dt class="c-data-list__key">Approved Expiration Date</dt>                
                      <dd class="c-data-list__value">{{r.approved_expiration_date}}</dd>
                      <dt class="c-data-list__key">Explanation Justification</dt>
                      <dd class="c-data-list__value">{{r.explanation_justification}}</dd>
                      <dt class="c-data-list__key">Exception Notes</dt>
                      <dd class="c-data-list__value">{{r.notes}}</dd>
                      <dt class="c-data-list__key">Last Updated</dt>
                      <dd class="c-data-list__value">{{r.updated_at}}</dd> 
                  </dl> 
                          <hr>
                      </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  