.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid var(--global-color-primary--light);
}

.pagination a.active {
    background-color: var(--global-color-accent--normal);
    color: white;
  }
  
.pagination a:hover:not(.active) {background-color: var(--global-color-primary--light);}