{% extends "standard.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'forms/css/extension_submission_form.css' %}">

<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}



  <div class="row">
    <div class="col">
      <h1>Request an Extension</h1>
      <hr />

      <p style="margin-bottom: 30px">
        This form should be completed and submitted by data submitters to request
        an extension to the deadline for submitting either a regular submission or
        a corrected resubmission. Please review the
        <a href="https://sph.uth.edu/research/centers/center-for-health-care-data/texas-all-payor-claims-database/payor-registration-information"
          target="_blank">Data Submission Guide</a> for details about completing and submitting this form, especially
        regarding
        the timeliness of the request.
      </p>

        <div class="forms">

        <div class="form-wrapper">
          <form action="" method="POST">
            {% csrf_token %}
            <h4>Extension Information</h4>
            <div id="extension-block_1" >
              <div class="field-wrapper textinput required"><p>
                This extension is on behalf of the following organization:
              </p>
                <label for="business-name_1">
                  Business Name<span class="asterisk">*</span>
                </label>
                <div class="field-errors" style="display: none"></div>
                <select name='business-name_1' required='required' class="choicefield" id='business-name_1'>
                  {% for submitter in submitters %}
                  <option class="dropdown-text" value={{submitter.submitter_id}}>{{submitter.org_name}} - Submitter ID:
                    {{submitter.submitter_id}} Payor: {{submitter.payor_code}}</option>
                  {% endfor %}
                </select>
                </div>

                <div class="field-wrapper textinput required">
                  <div class="field-errors" style="display: none"></div>
                  <label for="extension-type_1">
                    Extension Type<span class="asterisk">*</span>
                  </label>
                  <select name='extension-type_1' required='required' class="choicefield" id='extension-type_1'>
                    <option class="dropdown-text" value="regular">Regularly Scheduled Submission</option>
                    <option class="dropdown-text" value="resubmission">Corrected Resubmission</option>
                    <option class="dropdown-text" value="small_carrier">Small Carrier (Fewer Than 10,000 Lives Covered)
                    </option>
                  </select>
                </div>
              
                <div class="field-wrapper numberinput required">
                  <div class="field-errors" style="display: none"></div>

                  <label for="requested-target-date_1">Requested Target Date<sup>1</sup><span class="asterisk">*</span></label>

                  <input type="date" name="requested-target-date_1" class="numeric" id="requested-target-date_1"
                    inputmode="numeric" required />
                </div>
              </div>
            <h4 id="extension-header_2" style="display:none">
              <hr />Extension Information 2
            </h4>
            <div id="extension-block_2"></div>
            <h4 id="extension-header_3" style="display:none">
              <hr />Extension Information 3
            </h4>
            <div id="extension-block_3"></div>
            <h4 id="extension-header_4" style="display:none">
              <hr />Extension Information 4
            </h4>
            <div id="extension-block_4"></div>
            <h4 id="extension-header_5" style="display:none">
              <hr />Extension Information 5
            </h4>
            <div id="extension-block_5"></div>
            <button class="c-button c-button--primary" id="extension-add-btn" type="button">+ Add Another Extension
              Request
            </button>
            <button class="c-button c-button--secondary" id="extension-drop-btn" type="button">- Remove Last Extension
              Request</button>

            <hr />

            <h4>Justification</h4>

            <div class="field-wrapper textarea required">
              Provide rationale for the exception request, outlining the reasons why the
              organization is unable to comply with the relevant requirements. Provide as
              much detail as possible regarding the exception request, indicating the
              specific submission requirements for which relief is being sought. If applicable,
              indicate how the organization plans to become compliant.<label for="justification"><span class="asterisk"
                  id="justification-asterisk">*</span></label>

              <div class="field-errors" style="display: none"></div>

              <textarea name="justification" cols="40" rows="10" class="textinput" type="text" id="justification"
                minlength="2" maxlength="2000" required></textarea>
              <div class="help-text">
                2000 character limit
              </div>
            </div>
            <hr />

            <h4>Acknowledgment of Terms</h4>
            <div class="o-grid o-grid--col-auto-count">
              <div class="field-wrapper textinput required">
                <label for="requestor-name">
                  Requestor Name<span class="asterisk">*</span>
                </label>
                <div class="field-errors" style="display: none"></div>

                <input type="text" name="requestor-name" required class="textinput" id="requestor-name" />
              </div>
              <div class="field-wrapper emailinput required">
                <label for="requestor-email">
                  Requestor Email<span class="asterisk">*</span>
                </label>
                <div class="field-errors" style="display: none"></div>

                <input type="email" name="requestor-email" required class="emailinput" autocomplete="email"
                  id="requestor-email" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,4}$" />
              </div>
            </div>

            <div class="field-wrapper checkbox required">
              <div class="field-errors" style="display: none"></div>
              <label for="accept-terms"> I understand and acknowledge that the Texas Department
                of Insurance (TDI) may review the validity of the
                information submitted on this form.</label>
              <label for="accept-terms"><input type="checkbox" name="accept-terms" value="true" class="checkbox"
                  required id="accept-terms" />
                Accept<span class="asterisk">*</span></label>
            </div>


            <div class="button-wrapper submit">
              <button class="form-button" type="submit" value="Submit">
                Submit
              </button>
              </div>
            </form>
            <div class="o-section o-section--style-light">
              <hr />
              <p>
                <small>¹ Requested target date – requested day/month/year by which the data should be received (the extension
                  date).<br />
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


      <div class="form-success" style="display: none">
        <p>Thank you for your request.</p>
      </div>

      <aside class="row" hidden>
        <div class="col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
          <p style="margin-top: 30px"><a href="/forms/register">Register</a></p>

          <p><a href="/forms/exception">Exception Request</a></p>

          <p><a href="/forms/extension">Extension Request</a></p>

          <p><a href="/workbench/dashboard">Dashboard</a></p>
        </div>
      </aside>

      {# Scripts #}
      <aside>
        <!-- To check for blank space only in text inputs-->
        <script src="{% static 'utils/js/checkForBlankInputs.js' %}"></script>
        <!--Adds blank space listener to all text input fields on page load #-->
        <script>
          const formTextInputs = document.querySelectorAll('input[type=text], textarea');
          noEmptyInputs(formTextInputs);
        </script> 
        <!-- To let user add and remove entities -->
        {# RFE: Do not duplicate entity markup #}
        {# IDEA: HTML template for any instance; used by markup for 0, JS for 1+ #}
        <script id="form-add-remove-extension" type="module">
          const addExtensionBtn = document.getElementById("extension-add-btn");
          const dropExtensionBtn = document.getElementById("extension-drop-btn");
          const btnStatus = (() => {
            addExtensionBtn.disabled = (extension == 5 ? true : false);
            dropExtensionBtn.disabled = (extension == 1 ? true : false);
          });
          let extension = 1;
          btnStatus();

          addExtensionBtn.addEventListener("click", () => {
            if (extension < 5) extension += 1;
            let extensionBlock = document.getElementById(`extension-block_${extension}`);
            document.getElementById(`extension-header_${extension}`).style.display = 'block';
            extensionBlock.innerHTML = `
            <div id="extension-block_${extension}" >
              <div class="field-wrapper textinput required"><p>
                This extension is on behalf of the following organization:
              </p>
                <label for="business-name_${extension}">
                  Business Name<span class="asterisk">*</span>
                </label>
                <div class="field-errors" style="display: none"></div>
                <select name='business-name_${extension}' required='required' class="choicefield" id='business-name_${extension}'>
                  {% for submitter in submitters %}
                  <option class="dropdown-text" value={{submitter.submitter_id}}>{{submitter.org_name}} - ID:
                    {{submitter.submitter_id}} Payor Code: {{submitter.payor_code}}</option>
                  {% endfor %}
                </select>
                </div>

                <div class="field-wrapper textinput required">
                  <div class="field-errors" style="display: none"></div>
                  <label for="extension-type_${extension}">
                    Extension Type<span class="asterisk">*</span>
                  </label>
                  <select name='extension-type_${extension}' required='required' class="choicefield" id='extension-type_${extension}'>
                    <option class="dropdown-text" value="regular">Regularly Scheduled Submission</option>
                    <option class="dropdown-text" value="resubmission">Corrected Resubmission</option>
                    <option class="dropdown-text" value="small_carrier">Small Carrier (Fewer Than 10,000 Lives Covered)
                    </option>
                  </select>
                </div>
              
                <div class="field-wrapper numberinput required">
                  <div class="field-errors" style="display: none"></div>

                  <label for="requested-target-date_${extension}">Requested Target Date<sup>1</sup><span class="asterisk">*</span></label>

                  <input type="date" name="requested-target-date_${extension}" class="numeric" id="requested-target-date_${extension}"
                    inputmode="numeric" required />
                </div>
              </div>
        `;
            const inputs = Array.from(
              document.querySelectorAll(`
            input[name=extension-type_${extension}],
            input[name=business-name_${extension}],
            input[name=requested-target-date_${extension}]
          `)
            );
            const inputListener = e => {
              inputs.filter(i => i !== e.target)
                .forEach(i => (i.required = !e.target.value.length));
            };
            inputs.forEach(i => i.addEventListener('input', inputListener));
            btnStatus();
          });

          dropExtensionBtn.addEventListener("click", () => {
            document.getElementById(`extension-header_${extension}`).style.display = 'none';
            let extensionBlock = document.getElementById(`extension-block_${extension}`);
            extensionBlock.innerHTML = '';
            if (extension > 1) extension -= 1;
            btnStatus();
          });
        </script>


        {% endblock %}