.registration-table {
    --cell-padding: 5px;

    width: 100%;
    table-layout: fixed;
}
.registration-table th, td {
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    padding-top: var(--cell-padding);
    padding-bottom: var(--cell-padding);
    padding-left: 10px;
    padding-right: 40px;
    border-collapse: collapse;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(0,0,0,1);
}
.registration-table tr:nth-child(even) {
    background-color: rgba(198, 198, 198, 0.1);
}
.registration-table td {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.registration-table tr:nth-child(even) td {
    border-right: rgba(198, 198, 198, 0.1);
    border-left: rgba(198, 198, 198, 0.1);
}
.registration-table tr:nth-child(even) td:first-child {
    border-left: 1px solid #fff;
}
.registration-table tr:nth-child(even) td:last-child {
    border-right: 1px solid #fff;
}
.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.no-bullets li {
    line-height: 1.9em; /* overwrite Core CMS site.css */
}

/* SEE: https://css-tricks.com/responsive-data-tables/ */
@media (max-width: 767px) {
    /* To remove border (that should probably be in Core anyway) */
    .registration-table {
        --row-padding: calc( var(--cell-padding) * 2 );

        border: none; /* overwrite Core CMS site.css */
    }

    /* To escape table layout */
    .registration-table,
    .registration-table :is(thead, tbody, th, td, tr) { 
        display: block; 
    }

    /* To hide table headers (but not `display: none;`, for a11y) */
    .registration-table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* To restore row borders */
    .registration-table tr:not(:last-of-type) {
        border-bottom: var(--global-border-width--normal) solid var(--global-color-primary--light);
    }

    /* To make each cell behave like a "row" */
    .registration-table td { border-top: none; }
    .registration-table td:last-of-type { border-bottom: none; }
    .registration-table td {
        position: relative;
        padding-left: 50%;
    }

    /* To add space between rows (for legibility) */
    .registration-table tr {
        padding-bottom: var(--row-padding);
    }
    .registration-table tr:not(:first-of-type) {
        padding-top: var(--row-padding);
    }

    /* To make cells look like left-aligned labels */
    .registration-table td:before {
        position: absolute;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;

        /* To mimic cell padding */
        top: var(--cell-padding);
        left: var(--cell-padding);
    }
    /* To label the cells */
    /* RFE: Add `data-label` to each cell so we can use `attr(data-label)` */
    .registration-table td:nth-of-type(1):before { content: "Business Name"; }
    .registration-table td:nth-of-type(2):before { content: "Type"; }
    .registration-table td:nth-of-type(3):before { content: "Location"; }
    .registration-table td:nth-of-type(4):before { content: "Submission"; }
    .registration-table td:nth-of-type(5):before { content: "Registration Status"; }
    .registration-table td:nth-of-type(6):before { content: "Files to Submit"; }
    .registration-table td:nth-of-type(7):before { content: "Actions"; }
}
