#myModal {
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal {
    height: 500px;
    overflow-y: clip !important;
}
.modal-content {
    height: 50vh;
    overflow-y: auto !important;
}