{# https://github.com/TACC/Core-Styles/blob/511c870/src/lib/_imports/trumps/s-irregular-links.css #}
{# https://github.com/TACC/Core-Styles/blob/511c870/src/lib/_imports/tools/x-link.css #}
<style id="site-css-links">
/* TODO: Do this the right way:
         1. Load Core-Styles with s-irregular-links.
         2. For EPIC, add "s-" class to a root element
*/
main :where(
  a,
  .c-button--as-link
) {
    text-decoration-line: underline;
}
main :where(
  a:hover,
  .c-button--as-link:hover
) {
    text-decoration-style: dashed;
    text-decoration-thickness: from-font; /* TODO: Add to Core-Styles */
}
main :where(
  a:active,
  .c-button--as-link:active
) {
    text-decoration-style: dotted;
    text-decoration-thickness: from-font; /* TODO: Add to Core-Styles */
}
</style>
