{% extends "standard.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'view_users_table/css/table.css' %}">
<link rel="stylesheet" href="{% static 'view_users_table/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'view_users_table/css/core-styles.c-form.css' %}">

<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}

  <h1>View Users</h1>
  <hr />
  <p style="margin-bottom: 30px">View submitted users.</p>
  <hr />
  <div class="filter-container">
    <div class="filter-content">
      <span><b>Filter by Organization: </b></span>
      <select id="statusFilter" class="status-filter" onchange="filterTableByStatus()">
        <option class="dropdown-text">All</option>
        <option class="dropdown-text">UUL</option>
        <option class="dropdown-text">UMR</option>
        <option class="dropdown-text">UHC</option>
        <option class="dropdown-text">Reserve Nat Ins Co</option>
        <option class="dropdown-text">Optum Behavioral</option>
      </select>
    </div>
  </div>
  <table id="usersTable" class="users-table">
      <thead>
          <tr>
              {% for k in header %}
              <th>{{k}}</th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for r in rows %}
              <tr>
                  <td>{{r.user_id}}</td>
                  <td>{{r.user_email}}</td>
                  <td>{{r.user_name}}</td>
                  <td>{{r.org_name}}</td>
                  <td>{{r.role_id}}</td>
                  <td>{{r.created_at}}</td>
                  <td>{{r.updated_at}}</td>
                  <td>
                    {{r.notes}}
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
<script>
  function filterTableByStatus() {
    var dropdown, filter, table, rows, status, i;
    dropdown = document.getElementById("statusFilter");
    filter =  dropdown.value;
    table = document.getElementById("registrationTable");
    rows = table.getElementsByTagName("tr");
    [...rows].slice(1).forEach(row => {
      status = row.getElementsByTagName("td")[5];
      if (status.innerText != filter && filter != 'All') {
        row.style.display = "none";
      } else {
        row.style.display = "";
      }
    })
  }
</script>

{% endblock %}
