@import url("./s-focus-list.css");
@import url("./s-icon-list.css");

#page-home .s-icon-list {
  margin-block: 46px;
}
#page-home ul.s-icon-list {
  padding-left: 0;
}
#page-home .s-icon-list li + li {
  margin-top: 40px;
}
