/*
Icon List

A list with items that each has an icon. It should appear _more_ important than a regular list, but __not__ as important as a [Highlight List](https://tacc-main.atlassian.net/wiki/x/JQVv).

<ul class="s-icon-list">
	<li>
    <i class="icon icon-bulb"><!-- ... --></i>
    Getting Started Guide
  </li>
	<li>
    <i class="icon icon-share"><!-- ... --></i>
    Allocation Overview
  </li>
</ul>
*/



.s-icon-list {
  font-weight: var(--bold);
  text-transform: uppercase;

  list-style: none;
}

.s-icon-list li {
  /* @mixin truncate--one-line; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.s-icon-list a {
  color: inherit;
}

.s-icon-list .icon {
  vertical-align: middle;

  font-size: 3.5em;
}
