/* To avoid empty space in article headers */
/* FAQ: CTRN sets categories (cats) but no author (attr) */
.blog-list article header {
    grid-template-areas:
        'cats     dates'
        'title    title'
        'subtitle subtitle'
        'tags     tags';
}
