/* To make <h3> look like an <h2> */
.blog-list h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
/* To avoid empty space in article headers */
/* FAQ: CTRN sets categories (cats) but no author (attr) */
.blog-list article header {
    grid-template-areas:
        'cats date'
        'head attr'
        'subh tags';
    /* TODO: After TACC/Core-CMS#1037, use this instead */
    /*
    grid-template-areas:
        'cats     date'
        'title    attr'
        'subtitle tags';
    */
}
