{% extends "standard.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'forms/css/exception_submission_form.css' %}">

<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}

  <div class="row">
    <div class="col">
      <h1>Threshold Exception Request</h1>
      <hr />

      <p>
        This form should be completed and submitted only by entities who are
        eligible for an exception to certain data submission requirements under H.B. 2090 (87(R))
        and associated regulations. Please review the legislation and regulation before
        submitting this form. Links to both can be found on the
        <a href="https://sph.uth.edu/research/centers/chcd/apcd/#TID-44be0947-bee9-41b1-b81a-ddea0b971e14-3" target="_blank">Texas All-Payor Claims Database
          website.</a>
      </p>
      <div class="forms">

        <div class="form-wrapper">
          <form action="" method="POST" id="threshold-form">
            {% csrf_token %}
            <div class="form-errors" style="display: none"></div>
            <div class="exception-header-1">


            <hr/>
              <h4>Requested Threshold Reduction</h4>
              <div id="exception_block_1">
              <div class="field-wrapper select required">
                <div class="field-errors" style="display: none"></div>
  
                <label for="file_type_1">File Type <span class="asterisk">*</span></label>
  
  
                <select name="file_type_1" required="required" class="choicefield" id="file_type_1"
                 value="none">
                  <option value="">-- Choose File Type --</option>
                  <option value="dc">Dental Claims</option>
  
                  <option value="mc">
                    Medical Claims
                  </option>
  
                  <option value="me">
                    Member Eligibility
                  </option>
  
                  <option value="pc">
                    Pharmacy Claims
                  </option>
  
                  <option value="pv">
                    Provider
                  </option>
                </select>
              </div>
              <div class="field-wrapper select required" >
                <div class="field-errors" style="display: none"></div>
                <label for="field-threshold-exception_1">Field Code <span class="asterisk">*</span></label>

                <select name="field-threshold-exception_1" required="required" class="choicefield" 
                id="field-threshold-exception_1">
                  <!-- Populates in jQuery script -->
                  <option class=dropdown-text value=''>-- Select a File Type Above First --</option>
                </select>
              </div>
              <div class="o-grid o-grid--col-auto-count">
              <div class="field-wrapper numberinput required">
                <div class="field-errors" style="display: none"></div>

                <label name="date-row" for="expiration-date_1">Expiriation Date<sup>*</sup><span class="asterisk">*</span> </label>

                <input type="date" name="expiration-date_1" class="numeric" id="expiration-date_1" inputmode="numeric"
                  pattern="\d{4}-\d{2}-\d{2}" required />
              </div>
                

                <div class="field-wrapper numberinput required">
                  <div class="field-errors" style="display: none"></div>
                  <label name="date-row" for="threshold-requested_1">
                    Requested Threshold Percentage <span class="asterisk">*</span>
                  </label>
                  
                  <div class="s-affixed-input-wrapper">
                    <input type="number" name="threshold-requested_1" class="textinput" id="threshold-requested_1"
                      inputmode="numeric" min="0" max="99" required />
                    <span class="s-affixed-input-wrapper__suffix">%</span>
                  </div>
                  <!-- Populates in script-->
                  <div id="help-text-threshold-requested_1" class="help-text">
                  </div>
                </div>
              </div>
            </div>
            <h4 id="exception_header_2" style="display:none">Requested Threshold Reduction 2</h4>
              <div id="exception_block_2"></div>
            <h4 id="exception_header_3" style="display:none">Requested Threshold Reduction 3</h4>
              <div id="exception_block_3"></div>
            <h4 id="exception_header_4" style="display:none">Requested Threshold Reduction 4</h4>
              <div id="exception_block_4"></div>
            <h4 id="exception_header_5" style="display:none">Requested Threshold Reduction 5</h4>
              <div id="exception_block_5"></div>
            <button class="c-button c-button--primary" id="exception-add-btn" type="button">+ Add Another Threshold
              Exception </button>
            <button class="c-button c-button--secondary" id="exception-drop-btn" type="button">- Remove Last Threshold
              Exception</button>
            <hr />
            <h4>Request Justification</h4>
            <div class="field-wrapper textarea required">
              <p>Provide rationale for the exception request, outlining the reasons why the
                organization is unable to comply with the relevant requirements. Provide as
                much detail as possible regarding the exception request, indicating the
                specific submission requirements for which relief is being sought. If applicable,
                indicate how the organization plans to become compliant.<sup>**</sup><label for="justification"><span
                    class="asterisk" id="justification-asterisk">
                    *</span></label></p>

              <div class="field-errors" style="display: none"></div>

              <textarea name="justification" cols="40" rows="10" class="textinput" form="threshold-form"
                type="justification" id="justification" minlength="2" maxlength="2000" required></textarea>
              <div class="help-text">
                2000 character limit
              </div>
            </div>
            <hr />
            <h4>Acknowledgment of Terms</h4>
            <div class="o-grid o-grid--col-auto-count">
              <div class="field-wrapper textinput required">
                <label for="requestor-name">
                  Requestor Name<span class="asterisk">*</span>
                </label>
                <div class="field-errors" style="display: none"></div>

                <input type="text" name="requestor-name" required class="textinput" id="requestor-name" />
              </div>
              <div class="field-wrapper emailinput required">
                <label for="requestor-email">
                  Requestor Email<span class="asterisk">*</span>
                </label>
                <div class="field-errors" style="display: none"></div>

                <input type="email" name="requestor-email" required class="emailinput" autocomplete="email"
                  id="requestor-email" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,4}$" />
              </div>
            </div>
            <div class="field-wrapper textinput required"><label>
                I request an exception on behalf of:
              </label></div>

            <div class="field-wrapper textinput required">
              <label for="business-name">
                Business Name<span class="asterisk">*</span>
              </label>
              <div class="field-errors" style="display: none"></div>
              <select name='business-name' required='required' class="choicefield" id='business-name'>
                {% for submitter in submitters %}
                <option class="dropdown-text" value={{submitter.submitter_id}}>{{submitter.org_name}} - ID:
                  {{submitter.submitter_id}}</option>
                {% endfor %}
              </select>

            </div>

            <div class="field-wrapper checkbox required">
              <div class="field-errors" style="display: none"></div>
              <label for="accept-terms"> I understand and acknowledge that the Texas Department
                of Insurance (TDI) may review the validity of the
                information submitted on this form.</label>
              <label for="accept-terms"><input type="checkbox" name="accept-terms" value="true" class="checkbox"
                  required id="accept-terms" />
                Accept<span class="asterisk">*</span></label>
            </div>
            <div class="button-wrapper submit">
              <button class="form-button" type="submit" value="Submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="form-success" style="display: none">
        <p>Thank you for your request.</p>
      </div>



      {# Hidden links for future pages #}
      {# TODO: Allow this template to render CMS admin-entered markup #}
      <aside class="row" hidden>
        <div class="col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
          <p style="margin-top: 30px"><a href="/forms/register">Register</a></p>

          <p><a href="/submissions/exception">Exception Request</a></p>

          <p><a href="/submissions/extension-request">Extension Request</a></p>

          <p><a href="/workbench/dashboard">Dashboard</a></p>
        </div>
      </aside>

      {# Scripts #}

      <aside>
        <!--To check for blank space only in text inputs #}-->
        <script src="{% static 'utils/js/checkForBlankInputs.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {# Adds blank space listener to all text input fields on page load #}
        <script>
          const formTextInputs = document.querySelectorAll('input[type=text], textarea');
          noEmptyInputs(formTextInputs);          
        </script> 
        <!-- To require exception is not longer than a year -->
        <script id="form-exception_length_less_than_year" type="module">
          $(function () {
            var dtToday = new Date();

            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
              month = '0' + month.toString();
            if (day < 10)
              day = '0' + day.toString();

            var minDate = dtToday.toISOString().substr(0, 10);
            $('#expiration-date').attr('min', minDate);
            year = year + 1;
            var maxDate = year + '-' + month + '-' + day;
            $('#expiration-date').attr('max', maxDate);
          });
        </script>
        <!-- Broke out functions necessary for dynamic drop down and help text related to CDLs-->
        <script>
      
      //Disables and enables buttons based on number of exception blocks
          function btnStatus(exceptions) {            
            let addExceptionBtn = document.getElementById("exception-add-btn");
            let dropExceptionBtn = document.getElementById("exception-drop-btn");
            addExceptionBtn.disabled = (exceptions == 5 ? true : false);
            dropExceptionBtn.disabled = (exceptions == 1 ? true : false);
          };
        // Adds inner HTML to previously hidden exception blocks 
          function addException(exceptions) {
            if (exceptions < 5) {
              exceptions += 1;
              let exceptionBlock = document.getElementById(`exception_block_${exceptions}`);
              document.getElementById(`exception_header_${exceptions}`).style.display = 'block';
              exceptionBlock.innerHTML = `
              <div class="field-wrapper select required">
              <div class="field-errors" style="display: none"></div>

              <label for="file_type_${exceptions}">File Type <span class="asterisk">*</span></label>

              <select name="file_type_${exceptions}" required="required" class="choicefield" id="file_type_${exceptions}"
              value="none">
                <option value="">-- Choose File Type --</option>
                <option value="dc">Dental Claims</option>

                <option value="mc">
                  Medical Claims
                </option>

                <option value="me">
                  Member Eligibility
                </option>

                <option value="pc">
                  Pharmacy Claims
                </option>

                <option value="pv">
                  Provider
                </option>
              </select>
              </div>
                <div class="field-wrapper select required" >
                  <div class="field-errors" style="display: none"></div>
                    <label for="field-threshold-exception_${exceptions}">Field Code <span class="asterisk">*</span></label>
                    <select name="field-threshold-exception_${exceptions}" required="required" class="choicefield" 
                    id="field-threshold-exception_${exceptions}">
                      <option class=dropdown-text value=''>-- Select a File Type Above First --</option>
                      <option class="dropdown-text" value={{cdl.field_list_code}}></option>
                    </select>
                </div>
                <div class="o-grid o-grid--col-auto-count">
                  <div class="field-wrapper numberinput required">
                    <div class="field-errors" style="display: none"></div>
                    <label for="expiration-date_${exceptions}" name="date-row">Expiriation Date<sup>*</sup><span class="asterisk">*</span> </label>
                    <input type="date" name="expiration-date_${exceptions}" class="numeric" id="expiration-date_${exceptions}" inputmode="numeric"
                      pattern="\d{4}-\d{2}-\d{2}" required />
                  </div>
                  <div class="field-wrapper numberinput required">
                    <div class="field-errors" style="display: none"></div>
                    <label for="threshold-requested_${exceptions}" name="date-row">
                      Requested Threshold Percentage <span class="asterisk">*</span>
                    </label>
                    <div class="s-affixed-input-wrapper">
                      <input type="number" name="threshold-requested_${exceptions}" class="textinput" id="threshold-requested_${exceptions}"
                        inputmode="numeric" min="0" max="99" required />
                      <span class="s-affixed-input-wrapper__suffix">%</span></div>

                    <!-- Populates in script-->
                    <div id="help-text-threshold-requested_${exceptions}" class="help-text">
                    </div>
                  </div>
                  </div>
                  </div>
                  </div>`
              };
              return exceptions
            };
        // Removes inner HTML to added exception blocks and sets display to hidden 
          function removeException(exceptions) {
            if (exceptions > 1) {
              let exceptionBlock = document.getElementById(`exception_block_${exceptions}`);
              let exceptionHeader = document.getElementById(`exception_header_${exceptions}`);
  
              exceptionBlock.innerHTML = "";
            // Required or it will show the header for that block when remove button clicked
              exceptionHeader.style.display = "none";
              exceptions = exceptions - 1;
            };
            return exceptions
          };
        // Removes helper text and field select options 
          function clearDataOnFileChange(exceptions) {
            helpText = $(`#help-text-threshold-requested_${exceptions}`)
            fieldDropDown = $(`#field-threshold-exception_${exceptions}`);
            for (let i = 0; i < fieldDropDown.length; i++) {
                fieldDropDown[i].innerHTML = "";
                helpText[i].innerHTML = "";
            };
          };
        // To access previously hiddenexception blocks and populate with info from AJAX call.
        // Ppulates based on sliced id name of select element to get exception block number
          function getDynamicCDLData(file_type, exceptions) {
            helpText = $(`#help-text-threshold-requested_${exceptions}`)
            fieldDropDown = $(`#field-threshold-exception_${exceptions}`);
            $.ajax({
                url: "{% url 'exception:get-cdls' %}",
                type: 'GET',
                data: {
                  'file_type': file_type
                },
                success: function(response) {
                  let cdls = response;
                  if (file_type != '') {
                    fieldDropDown.empty(); // Clear existing options
                    fieldDropDown.append($('<option>', {
                      value: '',
                      text: '-- Select a Field Type --'
                    }));
                    for (let i = 0; i < cdls.length; i++) {
                      fieldDropDown.append($('<option>', {
                        value: cdls[i].field_list_code,
                        text: `${cdls[i].field_list_value}: ${cdls[i].field_list_code}`
                      }));
                    }
                  }
                },
                error: function(xhr, status, error) {
                  console.log(error);
                }
              });
            };
          // Gets helper text from AJAX call and populates based on sliced id name of help text to get
          // exception block number
          function getHelpText(fieldSelection, file_type, exceptions) {
            helpText = document.getElementById(`help-text-threshold-requested_${exceptions}`);
            $.ajax({
                url: "{% url 'exception:get-cdls' %}",
                type: 'GET',
                data: {
                  'file_type': file_type
                },
                success: function(response) {
                  let cdls = response;
                  //To change help text for requested threshold percentage
                    for (let i = 0; i < cdls.length; i++)
                      if (fieldSelection == cdls[i].field_list_code) {
                          helpText.innerHTML = "";
                          helpText.innerHTML = `Must be less than the ${cdls[i].threshold_value}% required.`
                      };
                  },
                error: function(xhr, status, error) {
                  console.log(error);
                }
              });
            };

          $(document).ready(function() {
            let exceptions = 1;
            btnStatus(exceptions);

            $('#exception-add-btn').click(function() {

              addException(exceptions);
            // To track how many exception blocks there are for button logic
              exceptions = addException(exceptions);
              btnStatus(exceptions);
            // Gets help text for additional added blocks
              $('[id^="field-threshold-exception"]').change(function() {
                let fieldSelection = $(this).val();
              // Gets exception number by id name
                let exceptionsNum = $(this).attr('id').slice(-1);
                let file_type = $(`#file_type_${exceptionsNum}`).val();
                getHelpText(fieldSelection, file_type, exceptionsNum);
              });
              $('[id^="file_type"]').change(function() {
                let exceptionsNum = $(this).attr('id').slice(-1);
                clearDataOnFileChange(exceptionsNum);
                let file_type = $(this).val();
                getDynamicCDLData(file_type, exceptionsNum);
              });

            });

            $('#exception-drop-btn').click(function() {
              removeException(exceptions);
            // To track how many exception blocks there are for button logic
              exceptions = removeException(exceptions);
              btnStatus(exceptions);
            });
                    
            $('[id^="file_type"]').change(function() {
              let exceptionsNum = $(this).attr('id').slice(-1);
              clearDataOnFileChange(exceptionsNum);
              let file_type = $(this).val();
              getDynamicCDLData(file_type, exceptionsNum);
              $('[id^="field-threshold-exception"]').change(function() {
                let fieldSelection = $(this).val();
              // Gets exception number by id name
                let exceptionsNum = $(this).attr('id').slice(-1);
                let file_type = $(`#file_type_${exceptionsNum}`).val();
                getHelpText(fieldSelection, file_type, exceptionsNum);
            });
          });

            $('[id^="field-threshold-exception"]').change(function() {
              let fieldSelection = $(this).val();
            // Gets exception number by id name
              let exceptionsNum = $(this).attr('id').slice(-1); 
              let file_type = $('#file_type').val();
              getHelpText(fieldSelection, file_type, exceptionsNum);
            });
          });
        </script>
      </aside>

      {# Footnotes #}
      <div class="o-section o-section--style-light">
        <hr />
        <small>
          <sup>*</sup> Exceptions cannot be granted for periods longer than a year.<br />
          <sup>**</sup>Exceptions cannot be granted "from any requirement in insurance code Chapter 38".<br />
        </small>
        <hr />
      </div>
    </div>
  </div>
</div>
{% endblock %}