{% extends "standard.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'exception/css/submission_form.css' %}">

<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}



  <div class="row">
    <div class="col">
      <h1>Exception Requests</h1>
      <hr />

      <p style="margin-bottom: 30px">
        This form should be completed and submitted only by entities who are
        eligible for an exception to certain data submission requirements under H.B. 2090 (87(R))
        and associated regulations. Please review the legislation and regulation before
        submitting this form. Links to both can be found on the
        <a href="https://sph.uth.edu/research/centers/chcd/apcd/"
          target="_blank">Texas All-Payor Claims Database website.</a> 
      </p>

      <hr />

      <div class="forms">

        <div class="form-wrapper">
          <form action="#" method="POST">
            {% csrf_token %}
            <div class="form-errors" style="display: none"></div>

        <div class="description">
          <h4>Exception Request Type</h4>
          <p>Please choose the type of exception form to submit. If your entity requires a reporting threshold
              reduction, please select the "Threshold Exception" option. 
              For all other exceptions, please select "Other."
          </p>
        </div>
        <div class="field-wrapper radioselect required">
          <div class="field-errors" style="display: none"></div>

          <label for="exception_type">
            Exception Type<span class="asterisk">*</span>
          </label>
          <ul id="exception-type" class="radioselect">
            <li>
              <label for="exception-type_0"><input type="radio" name="type" value="Threshold Exception" class="radioselect"
                  required id="threshold-exception" />
                Threshold Exception </label>
            </li>

            <li>
              <label for="exception-type_1"><input type="radio" name="type" value="Other Exception" class="radioselect"
                  required id="other-exception" />
                Other Exception </label>
            </li>
          </ul>
        </div>
         


          <div class="button-wrapper submit">
            <button class="form-button" type="submit" id="exception-type-btn" value="Submit">
              Submit
            </button>
          </div>
          </form>
        <div class="form-success" style="display: none">
          <p>Thank you for your request.</p>
        </div>
      </div>

  {# Hidden links for future pages #}
  {# TODO: Allow this template to render CMS admin-entered markup #}
    <aside class="row" hidden>
      <div class="col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
        <p style="margin-top: 30px"><a href="/forms/register">Register</a></p>

        <p><a href="/forms/exception">Exception Request</a></p>

        <p><a href="/forms/extension">Extension Request</a></p>

        <p><a href="/workbench/dashboard">Dashboard</a></p>
      </div>
    </aside>

  {# Scripts #}
  {# WARNING: Many are cruft that created this now-static markup, but not all #}{# TODO: FP-1888: Clean out the cruft #}
  <aside>
    <!-- To redirect user to correct exception form based on submission -->
    {# RFE: Do not duplicate entity markup #}
    {# IDEA: HTML template for any instance; used by markup for 0, JS for 1+ #}
    <script id="form-exception-redirect" type="module">
      let form = document.querySelector("form");
      let exceptionType = querySelector('input[name="type"]:checked').value
      form.addEventListener("Submit", redirect)

      function redirect(event) {
        event.preventDefault();
        if (exceptionType.value == "Threshold Exception") {
          location.href = '../exception_submission_form/exception_threshold_form.html'
        }
        if (exceptionType.value == "Other Exception") {
          location.href = '../exception_submission_form/exception_other_form.html'
        }
    }

      addThresholdException.addEventListener("click", () => {
        let submitRedirectButton = document.getElementById(`exception-type-btn`);
        submitRedirectButton
        const inputListener = e => {
          inputs.filter(i => i !== e.target)
                .forEach(i => (i.required = !e.target.value.length));
        };
        inputs.forEach(i => i.addEventListener('input', inputListener));
        btnStatus();
      });
    </script>
  </aside>

  {# Footnotes #}
  <div class="o-section o-section--style-light">
      <hr />
      <small>
    <sup>*</sup> Exceptions cannot be granted for periods longer than a year<br/>
    <sup>**</sup>Exceptions cannot be granted "from any requirement in insurance code Chapter 38"<br/>
    </small
  >
  <hr />
</div>
{% endblock %}
