{% extends "standard.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'exception/css/submission_form.css' %}">

<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}



  <div class="row">
    <div class="col">
      <h1>Exception Request Form</h1>
      <hr />

      <p style="margin-bottom: 30px">
        This form should be completed and submitted only by entities who are
        eligible for an exception to certain data submission requirements under H.B. 2090 (87(R))
        and associated regulations. Please review the legislation and regulation before
        submitting this form. Links to both can be found on the
        <a href="https://sph.uth.edu/research/centers/chcd/apcd/"
          target="_blank">Texas All-Payor Claims Database website.</a> 
      </p>

      <hr />

      <div class="forms">

        <div class="form-wrapper">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-errors" style="display: none"></div>

        </div>
      </div>
      <h4>Exception Information</h4>
      <div id="exception_block_1">
        <div class="field-wrapper radioselect required">
          <div class="field-errors" style="display: none"></div>

          <label for="exception_type">
            Exception Type<span class="asterisk">*</span>
          </label>
          <ul id="exception-type" class="radioselect">
            <li>
              <label for="exception-type_0"><input type="radio" name="type" value="true" class="radioselect"
                  required id="threshold-exception" />
                Threshold Exception </label>
            </li>

            <li>
              <label for="exception-type_1"><input type="radio" name="type" value="true" class="radioselect"
                  required id="other-exception" />
                Other Exception </label>
            </li>
          </ul>
        </div>
          <div class="field-wrapper numberinput required">
              <div class="field-errors" style="display: none"></div>

              <label for="exception_start_date">Start Date<span class="asterisk">*</span>
              </label>

              <input type="date" name="exception_start_date" class="numeric" id="exception_start_date"
                inputmode="numeric" pattern="\d{4}-\d{2}-\d{2}" required />
          </div>
          <div>
            <div class="field-wrapper numberinput required">
              <div class="field-errors" style="display: none"></div>

              <label>End Date<sup>*</sup><span class="asterisk">*</span> </label>

              <input type="date" name="exception_end_date" class="numeric" id="exception_end_date"
                inputmode="numeric" pattern="\d{4}-\d{2}-\d{2}" required />
              </div>
            </div>
          </div>
        </div>

      </div>
      <h4 id="exception_header_2" style="display:none">Threshold Exception Details</h4>
      <div id="exception_block_2"></div>
      <hr />

      <h4>Justification</h4>
          <p>Provide rationale for the exception request, outlining the reasons why the organization is unable to
            comply with the relevant requirements. Provide as much detail as possible regarding the exception request, indicating the
            specific submission requirements for which relief is being sought. If applicable, indicate how the organization
            plans to become compliant.<sup>**</sup></p>
      <div class="field-wrapper textarea required">
        <div class="field-errors" style="display: none"></div>

        <textarea name="justification" cols="40" rows="10" class="textinput" type="justification"
          id="justification"></textarea>
        <p><span class="asterisk">*</span></p>
      </div>

      <hr />
      <div class="description">
        <h4>Acknowledgment of Terms</h4>
      </div>
      <div class="field-wrapper textinput required"><label>
          I request an exception on behalf of:
        </label></div>

      <div class="field-wrapper textinput required">
        <label for="business-name">
          Business Name<span class="asterisk">*</span>
        </label>
        <div class="field-errors" style="display: none"></div>

        <input type="text" name="business-name" required class="textinput" id="business-name" />
      </div>

      <div class="field-wrapper checkbox required">
        <div class="field-errors" style="display: none"></div>
        <label for="on-behalf-of_0"> I understand and acknowledge that the Texas Department
          of Insurance (TDI) may review the validity of the
          information submitted on this form.</label>
            <label for="on-behalf-of_0"><input type="checkbox" name="on-behalf-of" value="true" class="checkbox"
                required id="on-behalf-of_0" />
              Accept<span class="asterisk">*</span></label>


          <div class="button-wrapper submit">
            <button class="form-button" type="submit" value="Submit">
              Submit
            </button>
          </div>
          </form>
        <div class="form-success" style="display: none">
          <p>Thank you for your request.</p>
        </div>
      </div>

  {# Hidden links for future pages #}
  {# TODO: Allow this template to render CMS admin-entered markup #}
    <aside class="row" hidden>
      <div class="col col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
        <p style="margin-top: 30px"><a href="/forms/register">Register</a></p>

        <p><a href="/forms/exception">Exception Request</a></p>

        <p><a href="/forms/extension">Extension Request</a></p>

        <p><a href="/workbench/dashboard">Dashboard</a></p>
      </div>
    </aside>

  {# Scripts #}
  {# WARNING: Many are cruft that created this now-static markup, but not all #}{# TODO: FP-1888: Clean out the cruft #}
  <aside>
    <!-- To let user add and remove entities -->
    {# RFE: Do not duplicate entity markup #}
    {# IDEA: HTML template for any instance; used by markup for 0, JS for 1+ #}
    <script id="form-threshold-exception" type="module">
      const addThresholdException = document.getElementById("threshold-exception");
      const addThresholdOther = document.getElementById("other-exception");
      const btnStatus = (() => {
        addThresholdException.disabled = ( exception == 2 ? true : false );
      });
      let exception = 1;
      btnStatus();

      addThresholdException.addEventListener("click", () => {
        let exceptionBlock = document.getElementById(`exception_block_2`);
        document.getElementById(`exception_header_2`).style.display = 'block';
        exceptionBlock.innerHTML = `
        <div class="field-wrapper select required">
          <div class="field-errors" style="display: none"></div>

          <label for="type"> File Submission Threshold Exception<span class="asterisk">*</span></label>


          <select
            name="file-type"
            required="required"
            class="choicefield"
            id="type"
          >
            <option value="Dental Claims">Dental Claims</option>

            <option value="Medical Claims">
              Medical Claims
            </option>

            <option value="Member Eligibility">
              Member Eligibility
            </option>

            <option value="Pharmacy Claims">
              Pharmacy Claims
            </option>

            <option value="Provider">
              Provider
            </option>
          </select>

        </div>
        <div class="field-wrapper select required id=field-threshold-exception name=field-threshold-exception">
          <div class="field-errors" style="display: none"></div>

          <label for="type"> Requested Field Threshold Exception <span class="asterisk">*</span></label>


          <select
            name="field-threshold-exception"
            required="required"
            class="choicefield"
            id="type"
          >
            <option value="Dental Claims">Dental Claims</option>

            <option value="Medical Claims">
              Medical Claims
            </option>

            <option value="Member Eligibility">
              Member Eligibility
            </option>

            <option value="Pharmacy Claims">
              Pharmacy Claims
            </option>

            <option value="Provider">
              Provider
            </option>
          </select>

        </div>
        <div class="field-wrapper numberinput required">
          <label for="threshold_requested">
            Threshold Request<span class="asterisk">*</span>
          </label>
          <div class="field-errors" style="display: none"></div>
  
          <input type="text" name="threshold_requested" required class="numberinput" id="threshold_requested" />
        </div>
      `;
        const inputs = Array.from(
          document.querySelectorAll(`
            input[name=exception_type_${exception}],
            input[name=exception_start_date_${exception}],
            input[name=exception_end_date_${exception}],
          `)
        );
        const inputListener = e => {
          inputs.filter(i => i !== e.target)
                .forEach(i => (i.required = !e.target.value.length));
        };
        inputs.forEach(i => i.addEventListener('input', inputListener));
        btnStatus();
      });

      dropExceptionBtn.addEventListener("click", () => {
       
        document.getElementById(`exception_header_1`).style.display = 'none';
        let exceptionBlock = document.getElementById(`exception_block_1`);
        exceptionBlock.innerHTML = '';

      });
    </script>

    <!-- To require at least one "entity" identifier value -->
    <script id="form-entity_id-required" type="module">
      const inputs = Array.from(
        document.querySelectorAll('input[name=fein], input[name=license_number], input[name=naic_company_code]')
      );
      const inputListener = e => {
        inputs.filter(i => i !== e.target)
              .forEach(i => (i.required = !e.target.value.length));
      };

      inputs.forEach(i => i.addEventListener('input', inputListener));
    </script>

    <!-- TODO To require exception is not longer than a year -->
    <script id="form-exception_length_less_than_year" type="module">
      const inputs = Array.from( 
        document.querySelectorAll('input[name=exception_start_date], input[name=exception_end_date]')
      );//stopped here
      const inputListener = e => {
        inputs.filter(i => i !== e.target)
              .forEach(i => (i.required = !e.target.value.length));
      };

      inputs.forEach(i => i.addEventListener('input', inputListener));
    </script>
  </aside>

  {# Footnotes #}
  <div class="o-section o-section--style-light">
    <hr />
      <small
        >¹ Federal Employer Identification Number (FEIN)<br />
        ² National Association of Insurance Commissioners (NAIC)<br />
        </small
      >
      <hr />
      <small>
    <sup>*</sup> Exceptions cannot be granted for periods longer than a year<br/>
    <sup>**</sup>Exceptions cannot be granted "from any requirement in insurance code Chapter 38"<br/>
    </small
  >
  </div>
  <hr />
</div>
{% endblock %}
