{% load static %}
<link rel="stylesheet" href="{% static 'apcd_cms/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'admin_extension/css/modal.css' %}">
<div id="editExtensionModal_{{r.extension_id}}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Extension ID {{r.extension_id}} for {{r.entity_name}}</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&#xe912;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-section">
        <h4 class="modal-header">Edit Selected Extension</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="field-wrapper textinput required disabled">
              <input type="hidden" name="extension_id" id="extension_id" value="{{r.extension_id}}">
            </div>
              <div class="o-grid o-grid--col-auto-count">              
                <div class="field-wrapper numberinput required">
                  <div class="field-errors" style="display: none"></div>

                  <label for="applicable-data-period" >Applicable Data Period</label>
                  </label>

                  <input type="month" name="applicable-data-period" class="data-period" 
                    inputmode="numeric" id="applicable-data-period" pattern="\d{4}-\d{2}"/>
                    <div id="help-text-applicable-data-period" class="help-text">
                      Current: {{r.applicable_data_period}}
                    </div>
                </div>
                <div class="field-wrapper numberinput required" >
                  <div class="field-errors" style="display: none"></div>

                  <label for="approved-expiration-date" name="date-row">Approved Expiration Date</label>

                  <input type="date" name="approved-expiration-date" class="numeric" id="approved-expiration-date" 
                    inputmode="numeric"/>
                    <div id="help-text-approved" class="help-text">
                      Current: {{r.approved_expiration_date}}
                    </div>
                </div>
                <div class="field-wrapper textinput required">
              <label for="status">
                Extension Status
              </label>
              <select name='status'  class="choicefield" id='status'>
                {% for option in status_options %}
                {% if option != 'All' %}
                <option class="dropdown-text" {% if option == r.status %}selected{% endif %}>{{ option }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="field-wrapper textinput required">
              <label for="status">
                Extension Outcome
              </label>
              <select name='outcome' class="choicefield" id='outcome'>
                {% for option in outcome_options %}
                {% if option != 'None'%}
                <option class="dropdown-text" {% if option == r.outcome %}selected{% endif %}>{{ option }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            </div>
            <div class="field-wrapper textarea required">
            <label for="notes">
              Extension Notes
            </label>

              <div class="field-errors" style="display: none"></div>
                <textarea name="notes" cols="40" rows="5" class="textinput" type="text" id="notes"
                  minlength="2" maxlength="2000">{{r.notes|default:''}}</textarea>
                <div class="help-text">
                  2000 character limit
                </div>
              </div>
            <div class="button-wrapper submit">
            <button class="form-button" type="submit" value="Submit">
              Submit
            </button>
          </div>
          <hr>
        </form>
      </div>
              <div class="modal-section">
                <h4 class="modal-header">Current Extension Information</h4>
                  <dl class="c-data-list--is-vert c-data-list--is-wide">
                      <dt class="c-data-list__key">Created</dt>
                      <dd class="c-data-list__value">{{r.created_at}}</dd>
                      <dt class="c-data-list__key">Entity Organization</dt>
                      <dd class="c-data-list__value">{{r.entity_name}}</dd>
                      <dt class="c-data-list__key">Requestor</dt>
                      <dd class="c-data-list__value">{{r.requestor_name}}</dd>
                      <dt class="c-data-list__key">Requestor Email</dt>
                      <dd class="c-data-list__value">{{r.requestor_email}}</dd> 
                      <dt class="c-data-list__key">Extension Type</dt>
                      <dd class="c-data-list__value">{{r.extension_type}}</dd>
                      <dt class="c-data-list__key">Current Expected Date</dt>                
                      <dd class="c-data-list__value">{{r.current_expected_date}}</dd>
                      <dt class="c-data-list__key">Requested Target Date</dt>                
                      <dd class="c-data-list__value">{{r.requested_target_date}}</dd>
                      <dt class="c-data-list__key">Extension Justification</dt>
                      <dd class="c-data-list__value">{{r.explanation_justification}}</dd>
                      <dt class="c-data-list__key">Last Updated</dt>
                      <dd class="c-data-list__value">{{r.updated_at}}</dd>  
                  </dl> 
                  <hr>
              </div>
            </dd>
        </div>
      </div>
    </div>
  </div>
</div>


