{# This template overwrites the original from TACC/Core-CMS #}
{# NOTE: This should extend taccsite_cms via taccsite_custom, not overwrite #}
{# FAQ: To extend, via app template inheritance, see TACC/Core-CMS#492 #}



{# COPIED FROM CORE #}
{# https://github.com/TACC/Core-CMS/blob/64a72e2/taccsite_cms/templates/assets_custom.html #}

{% load static %}

<!-- Custom Site Assets: Favicon. -->
{% with settings.PORTAL_FAVICON as favicon %}
<link rel="icon" href="{% if favicon.is_remote %}{{ favicon.img_file_src }}{% else %}{% static favicon.img_file_src %}{% endif %}" type="image/x-icon" />
{% endwith %}



{# NEW CODE #}

<!-- TUP CMS UI Styles -->
<style>
  @import url("{% static 'apcd-cms/css/site.cms.css' %}");
</style>
