/*! @tacc/core-cms-custom.frontera 0.0.2 | MIT | frontera-portal.tacc.utexas.edu */

/*!
 * CoreV1 Portal Stylesheet `frontera.css`
 * https://bitbucket.org/taccaci/frontera/src/master/client/css/frontera.scss
 */@font-face{font-family:BentonSansBold;src:url(../../fonts/archive/BentonSans-Bold.otf)}@font-face{font-family:BentonSansMedium;src:url(../../fonts/archive/BentonSans-Medium.otf)}@font-face{font-family:BentonSansItalic;src:url(../../fonts/archive/BentonSans-MediumItalic.otf)}