{% extends "guide.html" %}
{% load cms_tags static tacc_uri_shortcuts %}

{% block guide %}
  {% site_uri as site_uri %}
  <div class="row">
    <div class="col">
      <h1>NEW Getting Started</h1>

      <h2>NEW Account Holders</h2>

      <p>NEW If you already have an account, you may log in by clicking the <q><i class="icon icon-user" role="image"></i> Log in</q> link at the top right of the page.</p>

      <h2 id="create-account">NEW Creating an Account</h2>

      <p>NEW Before you can access the Portal, you must first have an active account with TACC.</p>

      <p>NEW If you are a new TACC user, you may <a href="https://txapcd.org/tam/register" target="_blank">sign up for a new TACC account</a>.</p>
    </div>
  </div>
{% endblock guide %}