{% extends "apcd_cms/templates/standard.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'apcd_cms/css/table.css' %}">
<link rel="stylesheet" href="{% static 'apcd_cms/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'submissions/css/table.css' %}">
<link rel="stylesheet" href="{% static 'submissions/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'admin_regis_table/css/table.css' %}">

<div class="container">
  {% include "nav_cms_breadcrumbs.html" %}

  <h1>User Submissions</h1>
  <hr />
  <p style="margin-bottom: 30px">A list of submissions by a user</p>
  <hr />
  <div id="list-submissions-root"></div>
{% endblock %}
