/* Field Widths */
input[name^="requested-target-date"] {
    --length: 25ch;
    box-sizing: content-box;
}

/* Text alignment */
/* To make required text line up with helper text for justification text area*/
#justification-asterisk {
    padding-left: 0;
    margin-left: 0;
  }


/* Field Layouts */
/* To make (radio/check)box sets take up less vertical space */
#on-behalf-of {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 0.5em;
}