/* Field Widths */

/* for an Entity*/
input[name^="fein"],
input[name^="license-number"],
input[name^="naic-company-code"] {
    width: 10ch;
    box-sizing: content-box;
}
/* to make input type='month' the same width as type="date"*/
input[name^="applicable-data-period"],
input[name^="current-expected-date"],
input[name^="requested-target-date"] {
    --length: 25ch;
    box-sizing: content-box;
}

/* Text alignment */
/* To make required text line up with helper text for justification text area*/
#justification-asterisk {
    padding-left: 0;
    margin-left: 0;
  }

/* To put required for extension dates on another line to avoid cutting off text */
label[name^="extension-date-asterisk"] {
    padding: 0;
    margin-left:0;
}
/* To make sure sup values are not cut off when set as a label*/
label[name^="date-row"] {
    margin-top: 1rem;
}

/* Field Layouts */
/* To make (radio/check)box sets take up less vertical space */
#on-behalf-of {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 0.5em;
}
[id^="extension-block_"] {

    /* Expectations:
        - automatically enough columns
        - maximum column count of 3 (i.e. minimum column width of 33%)
        - equal width columns*/
    display: grid;
    grid-template-columns: repeat( auto-fill, var(--max-col-width));
    max-width: calc( var(--global-space--grid-gap) + var(--max-col-width) *3 ); 
}
