
PROBABLY NOT UP TO DATE

<script id="form-wrap-entity-id-fields--js" type="module">
    /* Wrap entity fields in markup (so layout of fields can be engineered) */
    import wrapElements from '/static/site_cms/js/modules/wrapElements.js';

    function getForm() {
        return document.getElementsByTagName('form')[0];
    }
    let scope = getForm();

    /* Tag field wrappers */
    const fieldLabels = scope.querySelectorAll('.field-wrapper > label[for]');
    [ ...fieldLabels ].forEach( fieldLabel => {
        const fieldWrapper = fieldLabel.closest('.field-wrapper');
        fieldWrapper.id = fieldLabel.getAttribute('for') + '--wrapper';
    });

    /* Wrap elements */
    const startWith = '.field-wrapper[id^="fein"]';
    const endBefore = `
        hr, h6, h5, h4, h3, h2, h1,
        .field-wrapper[id^="total-covered-lives"]
    `;
    const wrapWith = 'div';
    const wrapStarter = true;
    wrapElements( startWith, endBefore, wrapWith, { wrapStarter, scope });

    /* Style elements wrapper */
    scope = getForm();
    const elementsWrappers = scope.querySelectorAll('.js-wrapElements-wrapper');
    elementsWrappers.forEach(elementsWrapper => {
        elementsWrapper.classList.add(
            'js-entity-id--wrapper',
            'o-grid', 'o-grid--col-auto-count'
        );
    });
</script>
<style id="form-wrap-entity-id-fields--css">
    .js-entity-id--wrapper {
        align-items: start;
    }
</style>
