{# NOTE: Most of this is copied from https://github.com/TACC/Core-CMS/blob/90ec191b220fa49f634e31cd362784b93d0c00b0/taccsite_cms/templates/cms_menu.html#L2 #}

{% load menu_tags tacc_uri_shortcuts limit_visibility_in_menu %}

{% spaceless %}
{% for child in children %}
{% limit_visibility_in_menu child as can_view %}
{% if can_view %}

<li class="nav-item{% if child.selected or child.ancestor %} active{% endif %}{% if child.children %} dropdown{% endif %}">
  {% if child.children %}
    <a
      href=""
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      {{ child.get_menu_title|safe }}
      {% if child.selected %}<span class="sr-only">(current)</span>{% endif %}
      <span class="sr-only">Toggle Dropdown</span>
    </a>
    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
      {# Bootstrap4 does not support submenus, so nor do we (and other users). See https://github.com/twbs/bootstrap/pull/6342. #}
      {% for grandchild in child.children %}
      {% limit_visibility_in_menu grandchild as can_view %}
      {% if can_view %}

      <a class="dropdown-item{% if grandchild.selected %} active{% endif %}" href="{{ grandchild|get_menu_uri }}" role="menuitem" {% target_blank grandchild|get_menu_uri %}>
        {{ grandchild.get_menu_title|safe }}
        {% if grandchild.selected %}<span class="sr-only">(current)</span>{% endif %}
      </a>

      {% endif %}
      {% endfor %}
  {% else %}
  <a class="nav-link" href="{{ child|get_menu_uri }}" {% target_blank child|get_menu_uri %}>
    {{ child.get_menu_title|safe }}
    {% if child.selected %}<span class="sr-only">(current)</span>{% endif %}
  </a>
  {% endif %}
</li>

{% endif %}
{% endfor %}
{% endspaceless %}
