{% load menu_tags tacc_uri_shortcuts %}

<pre>{% debug %}</pre>
<style>
  pre {
    z-index: 1;
    background-color: darkslategray;
    color: lime;
    position: fixed;
    border: 1px solid gray;
    overflow-y: scroll;
    width: calc(100vw - 40px);
    height: calc(100vh - 150px);
    top: 150px;
    left: 20px;
  }
  li {
    color: white;
    background-color: black;
  }
  li a {
    color: white !important;
  }
</style>

<!--
{% ifequal user.groups.all.0 'SUBMITTER_USER' %}
  <strong>IS</strong> A <code>SUBMITTER_USER</code>
{% else %}
  <strong>NOT</strong> A <code>SUBMITTER_USER</code>
{% endifequal %}
-->

{% for child in children %}
<li>
  <a href="{{ child|get_menu_uri }}">{{ child.get_menu_title|safe }}</a>
  {% if has_view_permissions %}
    <code>has_view_permissions: <strong>TRUE</strong></code>
  {% else %}
    <code>has_view_permissions: <strong>FALSE</strong></code>
  {% endif %}
</li>
{% endfor %}